#sprite {
  position: relative;
  left: -15px;
  width: 192px;
  /*128px;*/
  height: 424px;
  /*288px;*/
  margin: 0 auto;
  margin-top: 75px;
  background: url('../assets/png/checking-sprite.png') left center;
  -webkit-animation: play .8s steps(10) infinite;
  -moz-animation: play .8s steps(10) infinite;
  -ms-animation: play .8s steps(10) infinite;
  -o-animation: play .8s steps(10) infinite;
  animation: play .8s steps(10) infinite; }

@-webkit-keyframes play {
  from {
    background-position: 0px; }

  to {
    background-position: -1920px; } }

@-moz-keyframes play {
  from {
    background-position: 0px; }

  to {
    background-position: -1920px; } }

@-ms-keyframes play {
  from {
    background-position: 0px; }

  to {
    background-position: -1920px; } }

@-o-keyframes play {
  from {
    background-position: 0px; }

  to {
    background-position: -1920px; } }

@keyframes play {
  from {
    background-position: 0px; }

  to {
    background-position: -1920px; } }

html {
  font-size: 10px;
  margin: 0;
  padding: 0; }

body, div, p {
  margin: 0;
  padding: 0; }

body {
  width: 1366px;
  color: #4a4a4a;
  font-family: "Oxygen", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.0625em;
  background-color: #FFFFFF; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0; }

h1, h2, h3, h4 {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
  font-family: "museo-sans-rounded", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: 700;
  line-height: 1em;
  color: #4a4a4a; }

h1 {
  font-size: 5.4em;
  color: #4a4a4a;
  max-width: 70%;
  margin-top: 30px; }
  h1.landing {
    margin-top: 0px; }
  #slide-2 .centered h1 {
    max-width: 70%; }

h2 {
  font-size: 4.8em;
  color: #ABABAB; }
  h2.sub-head {
    margin-top: 50px; }

h3 {
  font-size: 4em; }

h4 {
  font-size: 2.4em;
  color: #FFC462; }
  h4.step {
    margin-top: 20px;
    font-family: "Oxygen", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300; }

p {
  max-width: 85%;
  margin: 0 auto;
  font-size: 2.8em;
  color: #417505; }
  p.map-messsage {
    margin-top: 30px; }
  p.share-it {
    color: #9B9B9B; }

a {
  text-decoration: none;
  font-weight: 600;
  color: #277159; }
  a.internal {
    color: #FFC462; }
  a:hover {
    color: #9cddf0; }

img {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px; }
  img.triple-s {
    width: 40px;
    margin-top: 30px; }
  img.building.intro {
    margin-top: 20px;
    margin-bottom: 20px; }
  img.checking {
    left: -10px;
    width: 175px;
    margin-top: 50px; }
  img.mascot {
    width: 260px;
    margin-top: 20px; }
    img.mascot.monster {
      left: 11px; }
    img.mascot.intro {
      width: 130px; }
  img.rent-history {
    width: 150px;
    border: 1px solid #ABABAB;
    margin-top: 30px; }

/* Lightbox for sample rent history */
a.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8); }
  a.lightbox img {
    position: relative;
    left: 30px;
    max-height: 680px;
    max-width: 530px;
    margin-top: 80px; }
  a.lightbox:target {
    outline: none;
    display: block; }

nav.main-nav {
  position: fixed;
  background-color: #4a4a4a;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 100; }
  nav.main-nav .logo {
    height: 65px;
    display: inline;
    margin: 0 0 0 20px;
    padding: 5px;
    float: left; }
  nav.main-nav h1 {
    display: inline;
    width: auto;
    float: left;
    font-size: 1em;
    margin-top: 28px;
    margin-left: 10px; }
    nav.main-nav h1 a.go-first {
      display: inline-block;
      color: #fff;
      font-size: 2.8em;
      letter-spacing: .05em; }
    nav.main-nav h1 a.go-first:hover {
      border-bottom: none;
      color: #FFC462; }
  nav.main-nav ul {
    float: right;
    list-style: none;
    margin-top: 15px; }
    nav.main-nav ul li {
      display: inline-block;
      margin-right: 55px; }
      nav.main-nav ul li:last-child {
        margin-right: 30px; }
      nav.main-nav ul li.social {
        margin-right: 8px; }
        nav.main-nav ul li.social:last-child {
          margin-right: 20px; }
      nav.main-nav ul li a {
        text-align: center;
        font-family: "museo-sans-rounded", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
        font-weight: 500; }
  nav.main-nav a {
    position: relative;
    top: 0;
    margin: 0;
    padding-bottom: 3px;
    font-weight: normal;
    font-size: 2.4em;
    text-align: center;
    background-color: #4a4a4a;
    color: #fff; }
    nav.main-nav a.active {
      top: -4px;
      background-color: #69C773;
      color: #FFFFFF; }
    nav.main-nav a:hover {
      color: #FFC462;
      border-bottom-width: 2px;
      border-bottom-style: solid; }

#lang-toggle {
  position: fixed;
  top: 90px;
  left: 30px;
  z-index: 100; }
  #lang-toggle li {
    list-style: none;
    display: inline-block; }
  #lang-toggle li:last-child {
    list-style: disc;
    list-style-position: inside; }
  #lang-toggle a, #lang-toggle p {
    text-decoration: none;
    font-family: "Oxygen", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    color: #ABABAB; }
  #lang-toggle a:hover {
    color: #4a4a4a; }

nav.margin-circles {
  position: fixed;
  z-index: 100;
  top: 215px;
  left: 30px; }
  nav.margin-circles ul {
    list-style-type: none; }
  nav.margin-circles li {
    width: 25px;
    height: 25px;
    margin-top: 25px;
    background-image: url('../assets/png/oval_25_blank.png');
    background-size: 25px;
    background-repeat: no-repeat; }
  nav.margin-circles li:first-child {
    background-image: url('../assets/png/oval_25_filled.png'); }

.hidden {
  display: none; }

.vis-hidden {
  visibility: hidden; }

.slides-container {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  background-color: #FFFFFF; }

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .slide .centered {
    width: 80%;
    margin: 0 auto;
    position: relative;
    left: 30px; }
    .slide .centered h1, .slide .centered h2, .slide .centered h3, .slide .centered h4 {
      text-align: center; }
    .slide .centered p {
      text-align: center;
      margin-top: 20px; }
      .slide .centered p em {
        font-weight: 600;
        font-style: italic; }
      .slide .centered p.be-sure {
        margin-top: 65px; }
      .slide .centered p.check-it {
        margin-top: 70px;
        width: 50%; }
      .slide .centered p.view-sample {
        margin-top: 20px; }
    .slide .centered .title {
      font-style: italic;
      font-weight: 300; }

/* Navigation Arrow */
.go-prev, .go-next, .go-first, .button.search {
  cursor: pointer; }

.go-next.bottom-arrow {
  position: absolute;
  width: 125px;
  margin: 0 auto;
  margin-left: -34.5px;
  left: 50%;
  bottom: 100px; }
.go-next h3 {
  font-family: "Oxygen", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #CE912D;
  font-weight: 700;
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px; }
.go-next .arrow {
  position: relative;
  top: 10px;
  height: 28px;
  width: 76px;
  margin: 0 auto;
  background-image: url('../assets/png/chevron.png');
  background-repeat: no-repeat; }
.go-next h3:hover, .go-next .arrow:hover {
  color: #FFC462; }

/* User address entry form */
#address-form {
  position: relative;
  margin-top: 10px;
  width: 1000px;
  font-family: "Oxygen", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 3em; }
  #address-form input.address-input {
    width: 465px;
    height: 70px;
    border: none;
    background-image: url('../assets/png/address-enter-line.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-left: 10px;
    text-transform: capitalize;
    font-weight: 300;
    color: #9B9B9B; }
  #address-form div.user-data {
    position: relative;
    display: inline-block;
    max-width: 500px;
    margin-top: 10px;
    color: #9B9B9B; }
    #address-form div.user-data.borough-select.active ul.drop-down {
      opacity: 1;
      pointer-events: auto; }
    #address-form div.user-data.borough-select {
      z-index: 100;
      position: relative;
      width: 400px;
      padding: 10px;
      margin-left: 100px;
      cursor: pointer;
      border: 3px solid #9B9B9B;
      /* triangle */ }
      #address-form div.user-data.borough-select span {
        font-weight: 300; }
      #address-form div.user-data.borough-select:after {
        content: "";
        width: 35px;
        height: 20px;
        position: absolute;
        right: 20px;
        top: 45%;
        margin-top: -1px;
        background-image: url('../assets/png/drop-down-triangle.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain; }
      #address-form div.user-data.borough-select ul.drop-down {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        opacity: 0;
        background: #FFFFFF;
        pointer-events: none; }
      #address-form div.user-data.borough-select li {
        list-style: none;
        display: block; }
      #address-form div.user-data.borough-select li a {
        text-decoration: none;
        font-weight: 300;
        color: #9B9B9B;
        padding: 5px 10px;
        display: block; }
        #address-form div.user-data.borough-select li a span.value {
          display: none; }
      #address-form div.user-data.borough-select li a:hover {
        background: #4a4a4a;
        color: #FFFFFF; }

label.address-form {
  margin-top: 20px;
  font-size: 2.5em;
  font-weight: 600; }

p#boroughs {
  color: #4a4a4a;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 0; }

#boroughs input[type="radio"] {
  display: inline-block;
  position: relative;
  top: 7px;
  margin: 0;
  padding: 0;
  line-height: normal; }

ul.validation-error li {
  display: inline-block;
  position: relative;
  max-width: 465px;
  padding: 10px;
  border: 3px solid #FFFFFF;
  margin-top: 5px;
  color: #FFFFFF;
  font-size: 0.7em;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1px;
  list-style: none;
  background-color: #D98C8C; }
  ul.validation-error li:last-child {
    margin-left: 100px;
    top: -34px;
    padding-right: 58px; }
ul.validation-error.not-found {
  max-width: 900px;
  margin: 0 auto; }
  ul.validation-error.not-found li {
    top: 0;
    text-align: center;
    margin-left: 78px;
    max-width: 900px;
    padding: 10px; }

.slide .centered .button {
  display: inline-block;
  position: relative;
  width: 170px;
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  background-color: #CE912D;
  padding: 10px 20px;
  border-radius: 35px; }
  .slide .centered .button:hover {
    background-color: #FFC462; }
  .slide .centered .button a {
    color: #FFFFFF; }
  .slide .centered .button.search {
    display: block;
    margin-top: 50px;
    left: 15px; }
  .slide .centered .button.start-over {
    width: 230px; }
  .slide .centered .button.learn-more {
    width: 240px;
    margin-left: 50px; }
.slide .centered .button-holder {
  width: 100%;
  text-align: center;
  margin-top: 30px; }

#map {
  position: relative;
  left: 0;
  margin: 0 auto;
  margin-top: 30px;
  width: 550px;
  height: 300px;
  border: 1px solid #999; }
  #map:hover {
    cursor: default; }

.dhcr-choice {
  position: relative;
  max-width: 1000px;
  max-height: 120px;
  margin: 0 auto;
  margin-top: 50px;
  -webkit-columns: 200px 3;
  -moz-columns: 200px 3;
  columns: 200px 3;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  -webkit-column-rule: 1px solid #ABABAB;
  -moz-column-rule: 1px solid #ABABAB;
  column-rule: 1px solid #ABABAB; }
  .dhcr-choice p {
    max-width: 200px;
    height: 110px; }

#slide-8 .action-choice {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
  -webkit-columns: 350px 2;
  -moz-columns: 350px 2;
  columns: 350px 2;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  -webkit-column-rule: 1px solid #ABABAB;
  -moz-column-rule: 1px solid #ABABAB;
  column-rule: 1px solid #ABABAB; }
  #slide-8 .action-choice p {
    max-width: 350px;
    height: 250px;
    margin-top: 20px;
    padding: 2px; }
  #slide-8 .action-choice h4 {
    margin-top: 0;
    font-family: "museo-sans-rounded", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 3.2em;
    font-weight: 700;
    text-align: center;
    color: #417505; }

.slide .share-box-end {
  display: block;
  position: relative;
  margin-top: 20px;
  text-align: center; }
  .slide .share-box-end p {
    display: inline; }
.slide .addthis_sharing_toolbox {
  margin: 0 auto;
  margin-top: 10px; }

input[placeholder] {
  color: #9B9B9B !important;
  font-family: "Oxygen", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300 !important; }

input::-webkit-input-placeholder {
  color: #9B9B9B !important;
  font-family: "Oxygen", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300 !important; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: #9B9B9B !important;
  font-family: "Oxygen", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300  !important; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #9B9B9B !important;
  font-family: "Oxygen", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300  !important; }

input:-ms-input-placeholder {
  color: #9B9B9B !important;
  font-family: "Oxygen", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300  !important; }
