* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  margin: 0;
  padding: 0;
  font-size: 10px;  
}

body {
  width: 100%;
  height: 100%;
  background-color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 62.5%;
}

#map {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  cursor: default;  
}

#map .leaflet-popup-content h4 {
  color: #000;
  /*width: 200px;*/
}

#map-container {
  position: static;
  margin: 1% auto 0 auto;
  width: 500px;
  height: 500px;  
  border: 1px solid white;
  border-radius: 50%;
  overflow: hidden;
  z-index: 10000;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

#guide {
  position: fixed;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  width: 100%;
  border: 1px solid hsla(0,100%,50%,0.4);
  z-index: 9000;
}

.clearfix {
  overflow: auto;
  zoom: 1 /* IE 6 */
}

.hidden {
  display: none;
}

#wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  height: inherit;
}

a {
  text-decoration: none;
  color: hsl(300,100%,50%);
  font-weight: 600;
  padding: 0 1%;
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  border-radius: 10px;
}

a:hover {
  background-color: hsl(300,100%,50%);
  color:#000;
}

section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  /*border-bottom: 1px solid white;*/
  color: white;
}

section h1 {
  margin: 0 auto;
  padding-top: 5%;
  width: 70%;
  color: hsl(60, 100%, 60%);
  font-weight: 600;
  font-size: 20em;
  text-align: center;
}

section h3 {
  margin: 0 auto;
  width: 85%;
  color: hsl(150, 100%, 55%);
  font-size: 15em;
  font-weight: 400;
  text-align: center;
}

section h3.steps {
  color: hsl(150, 100%, 55%);
}

section p {
  margin: 1% auto;
  width: 75%;
  font-size: 10em;
  font-weight: 300;
}

section p em {
  font-weight: 400;
  padding: 0 1% 0 1%;
}

section p strong {
  font-weight: 500;
  letter-spacing: 1%;
  color: hsl(60, 100%, 60%);
}

section p.callout {
  position: absolute;
  display: block;
  margin: 0;
  width: auto;
  font-weight: 400;
  font-style: italic;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); 
  -webkit-transform-origin: 90% 140%; 
      -ms-transform-origin: 90% 140%; 
          transform-origin: 90% 140%;
}

p.small {
  font-size: 6em;
}

span.orange {
  color: #FF6600;
  font-weight: 400;
}

#gif {
  top: 15%;
  width: 400px;
  height: 400px;
  padding: 0;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.vcenter {
  margin-top: 10%;
}

p.arrow a { display: none; }

p.arrow, p.arrow a {
  text-transform: uppercase;
  position: absolute;  
  width: auto;
  margin: 0 auto;
  bottom: 0;
  color: #FFF;
  font-size: 2.6em;
}

p.arrow a:hover {
  background-color: #000;
  color: hsl(300, 100%, 50%);
}

.box {
  top: 10%;
  width: 60%;
  margin: 0 auto;
}

.box button {
  display: block;
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
}

.address-box {
  margin: 5% auto; 
}

.address-box input[type=text] {
  display: block;
  margin: 0 auto;
  padding: 5px;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
          transition: box-shadow 0.3s, border 0.3s;
  width: 60%;
  text-align: center;
  font-size: 5em;     
  color: #000;
  border-radius: 25px;
}

.address-box input[type="text"]:focus {
  outline: none;
}

.address-box input[type="text"]:focus,
.address-box input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.select-box{
   margin: 0 auto;
   width: 100%;
}

select {
  display: block;
  margin: 0 auto;
   border: 1px solid hsl(0,0%,60%);
   font-size: 5em;
   color: hsl(0,0%,40%);
   padding: .5em;
   -webkit-transition: box-shadow 0.3s, border 0.3s;
           transition: box-shadow 0.3s, border 0.3s;
}

select:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#submit  {
  display: block;
  width: 125px;
  margin: 5% auto 5% auto;
  cursor: pointer;
  padding: 1%;
  font-size: 5em;
  color: hsl(0,0%,40%);
  background-color: hsl(0,0%,80%);
  border: 1px solid #000;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
          transition: box-shadow 0.3s, border 0.3s;
}

#submit:hover {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#submit:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}


@media screen and (max-height: 880px) {
  section h1 { font-size: 15em; width: 55%;}
  section h3 { font-size: 12em; } 
  section p { font-size: 7em; margin-top: 2%;}
  p.small { font-size: 6em; }
  p.vcenter { margin-top: 5%; }
  #form.box { margin-top: 5%; top: 0; }
  #map-container { width:350px; height: 350px; }
  #map {width:350px; height: 350px; margin-top: 1%;}
}

@media screen and (max-width: 960px) {
  p em { display: inline-block; width: 65%; }
  .address-box input[type=text] { width: 70%; font-size: 3.5em; }
  .select-box select { font-size: 3.5em;}   
  #gif { width: 200px; height: 200px; }
}

@media screen and (max-width: 970px) {
  section h1 { font-size: 12em; }
  section h3 { font-size: 10em; }
  section p { font-size: 8em; }
  p.arrow, p.arrow a { font-size: 2.8em; }  
}

@media screen and (max-height: 765px) {
  #map, #map-container { width: 300px; height: 300px; }
}


@media screen and (max-height: 700px) {
  section p { font-size: 7em; }
  p.small { font-size: 5em; }
  p.legend { font-size:  5em; margin-top: 1%; }
}

@media screen and (max-width: 705px) {
  section h1 { margin: 5% auto; font-size: 11em; width: 80%; }
  section h3 { font-size: 9em; }
  section p { font-size: 5em;}
  p.small { font-size: 4.5em;}
  section p.callout {
    padding-top: 3%;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
            transform-origin: 0;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
  .address-box input[type=text] { width: 80%; font-size: 3.5em; }
  p.arrow, p.arrow a { font-size: 2.8em; }
  #map-container { margin-top: 5%; width: 250px; height: 250px; }
  #map { width: 250px; height: 250px;}  
}

@media screen and (min-width: 300px) and (max-width:470px)  {
  section h1 { font-size: 8em; padding-top: 2%; width: 75%; }
  section h3 { font-size: 4.5em; }
  section p { font-size: 3.2em; line-height: 1.2em; margin-top: 5%; }
  p.small { font-size: 3em; margin-top: 5%; }
  p.callout  { padding-top: 3%; }
  p.arrow, p.arrow a { font-size: 2.6em; line-height: 1; }
  .box { top: 0;}
  .address-box input[type=text] { width: 100%; font-size: 2.5em; margin-top: 10%;}
  .select-box select { font-size: 2.8em; margin-top: 10%;}
  #submit { width:85px; font-size: 3.5em; margin-top: 10%; padding: 2% 2% 3% 3%;}
  #map-container { margin-top: 5%; width: 250px; height: 250px; }
  #map { width: 250px; height: 250px;}
}

@media screen and (max-height: 430px ){
  #map-container { width: 200px; height: 200px; }
  #map { width: 200px; height: 200px; }
}

@media screen and (max-width: 320px) {
  p.small { font-size: 3.2em; margin-top: 7%; }
  p.arrow, p.arrow a { font-size: 2.1em; font-weight: 400; }
}