/* User address entry form */ 

#address-form {
  position: relative;
  margin-top: 10px;
  width: 1000px;
  font-family: $body-font;
  font-size: 3em;
  input.address-input {
    width: 465px;
    height: 70px;
    border: none;
    background-image: url('../assets/png/address-enter-line.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-left: 10px;
    text-transform: capitalize;
    font-weight: 300;
    color: $medgray;
  }
  div.user-data {
    position: relative;
    display: inline-block;
    max-width: 500px;   
    margin-top: 10px; 
    color: $medgray;

    &.borough-select.active {
      ul.drop-down {
        opacity: 1;
        pointer-events: auto;
      }
      &:after {
      // do to: change direction of arrow to point up
      }      
    }

    &.borough-select {
      z-index: 100;
      position: relative;
      width: 400px;
      padding: 10px;      
      margin-left: 100px;      
      cursor: pointer;
      border: 3px solid $medgray;

      span {
        font-weight: 300;
      }

      /* triangle */
      &:after {
        content: "";
        width: 35px;
        height: 20px;
        position: absolute;
        right: 20px;
        top: 45%;
        margin-top: -1px;
        background-image: url('../assets/png/drop-down-triangle.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }
      ul.drop-down {        
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        opacity: 0;
        background: $white;
        pointer-events: none;       
      }
      li {        
        list-style: none;
        display: block;        
      }
      li a {        
        text-decoration: none;
        font-weight: 300;
        color: $medgray;
        padding: 5px 10px;
        display: block;
        span.value {
          display: none;
        }
      }
      li a:hover {
        background: $gray;
        color: $white;
      }
    }
  }
}

label.address-form {
  margin-top: 20px;
  font-size: 2.5em;
  font-weight: 600;
}

p#boroughs {
  color: #4a4a4a;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 0;
}

#boroughs input[type="radio"] {
  display: inline-block;
  position: relative;
  top: 7px;
  margin: 0;
  padding: 0;
  line-height: normal;
}

ul.validation-error {
  padding: 0;
  margin-top: 5px;

  li {
    display: inline-block;
    position: relative;
    max-width: 465px;
    padding: 10px;
    // border: 3px solid $white;
    color: $white;
    font-size: 0.7em;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    list-style: none;
    background-color: $valError;

    &#error-not-found {
      max-width: 90%;
      top: 0;
      margin: 0 auto;
      padding: 10px;
      text-align: center;      
    }

    &:last-child {
      margin-left: 100px;
      top: -30px;
      padding-right: 58px;
    }
  }
  
  &.not-found {    
    position: relative;
    left: -30px;
    margin: 0 auto;
    text-align: center;

  }  
} 