/* User address entry form */ 

#address-form {
  position: relative;
  margin-top: 10px;
  width: 100%;
  font-size: 2.5em;

  div.user-data {
    position: relative;
    display: inline-block;
    max-width: 500px;   
    margin-top: 10px; 
    color: $medgray;
  } 

  .street-address {
    margin-left: 75px;
  }  
 
  input.address-input {
    width: 370px;
    height: 50px;
    border: none;
    background: {
      image: url('../assets/png/address-enter-line.png');
      repeat: no-repeat;
      position:center bottom;
    }
    padding-left: 10px;
    font-weight: 300;
    color: $medgray;
    // font-size: .8em;
  }

  .borough-select.active {
    ul.drop-down {
      opacity: 1;
      pointer-events: auto;
    }
    &:after {
    // do to: change direction of arrow to point up
    }      
  }

  .borough-select {
    z-index: 100;
    position: relative;
    width: 340px;
    padding: 10px;      
    margin-left: 125px;      
    cursor: pointer;
    border: 3px solid $medgray;

    span {      
      font-weight: 300;
    }

    /* triangle */
    &:after {
      content: "";
      width: 35px;
      height: 20px;
      position: absolute;
      right: 20px;
      top: 45%;
      margin-top: -1px;
      background-image: url('../assets/png/drop-down-triangle.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
    
    ul.drop-down {        
      position: absolute;
      width: 340px;
      top: 100%;
      left: -3px;
      right: 0;
      opacity: 0;
      background: $white;
      border: 3px solid $medgray;
      border-top: none;
      pointer-events: none;       
    }
    
    li {        
      list-style: none;
      display: block;        
    }
    
    li a {        
      text-decoration: none;
      font-weight: 300;
      font-size: .9em;
      color: $medgray;
      padding: 3px 8px;
      display: block;

      span.value {
        display: none;
      }
    }
    li a:hover {
      background: $gray;
      color: $white;
    }
  }

  @include responsive_height(medium-screens) {
    width: 100%;
    height: 250px;

    input { 
      &.address-input {
        width: 400px; 
        height: 60px;   
      }
    }

    div.user-data {
      font-size: .9em;
      height: 60px;
      width: 400px;
      margin: 0 auto;
      display: block;
      top: -75px;      

      &.borough-select {
        margin: 0 auto;
        margin-top: 20px;  
      }
    }    
  }

  @include responsive(medium-screens) {
    margin-top: 40px;

    input { 
      &.address-input {
        width: 400px; 
        height: 60px;   
      }
    }

    div.user-data {
      font-size: .9em;
      height: 60px;
      width: 400px;
      margin: 0 auto;
      display: block;
      top: -75px;

      &.borough-select {
        margin: 0 auto;
        margin-top: 20px;       
      }
    }    
  }

  @include responsive(small-screens) {
    height: 216px;
    margin-top: 15%;
    
    input {
      &.address-input {
        width: 240px;
        height: 50px;
        margin-top: 3px;
      } 
    }    

    div.user-data {
      width: 240px;
      top: -125px;
      font-size: 0.6em;

      &.borough-select {
        width: 210px;
        height: 45px;
        margin-top: 5px;

        ul.drop-down {
          width: 240px;
        }

        &:after {
          width: 17px;
          height: 10px;
          right: 5px;
          top: 20px;
          // background-image: url('../assets/png/drop-down-triangle-sm.png');
        }
      }
    }   
  }  
} // end address form

p#boroughs {
  color: #4a4a4a;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 0;
}

#boroughs input[type="radio"] {
  display: inline-block;
  position: relative;
  top: 7px;
  margin: 0;
  padding: 0;
  line-height: normal;
}


// Validation Errors
ul.validation-error {
  padding: 0;
  margin-top: 5px;

  li {
    display: inline-block;
    position: relative;
    max-width: 465px;
    padding: 10px;
    // border: 3px solid $white;
    color: $white;
    font-size: 0.7em;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    list-style: none;
    background-color: $valError;

    &:last-child {
      margin-left: 105px;
      top: -20px;
      padding-right: 80px;
    }
  }

  #error-address {
    width: 370px;
    margin-left: 75px;
  }

  #error-boro {
    margin-left: 125px;
  }

  #error-not-found {
      max-width: 70%;
      display: block;
      top: 0;
      margin: 0 auto;
      padding: 10px;
      text-align: center;
    }  
  
  &.not-found {    
    position: relative;
    left: -30px;
    margin: 0 auto;
    text-align: center;
  }  

  // @include responsive_height(medium-screens) {
  //   &.not-found {
  //     left:0;
  //   }

  //   li {
  //     max-width: 400px; 
  //   }    

  //   #error-not-found {
  //     max-width: 80%;
  //     display: block;
  //   }

  //   #error-boro {
  //     width: 140px;
  //     margin-left: 415px;
  //     padding: 10px;
  //     top: -225px;
  //   }

  //   #error-address {
  //     width: 145px;
  //     top: -225px;
  //     margin-left: 75px;
  //   }     
  // }

  // @include responsive(medium-screens) {
  //   ul.validation-error {
  //     &.not-found {
  //       left:0;
  //     }

  //     li {
  //       max-width: 400px;     

  //       &#error-not-found {
  //         top: 160px;
  //       }

  //       &#error-boro {
  //         width: 140px;
  //         margin-left: 415px;
  //         padding: 10px;
  //         top: -225px;
  //       }

  //       &#error-address {
  //         width: 145px;
  //         top: -225px;
  //         margin-left: 75px;
  //       }

  //     }
  //   }    
  // }

  // @include responsive(tablet-screens) {
  //   #error-not-found {
  //     max-width: 80%;
  //     display: block;
  //   }

  //   #error-boro {
  //     // margin-left: 55px;
  //     // width: 400px;
  //   }

  //   #error-address {
  //     width: 145px;
  //     top: -208px;
  //     margin-left: 110px;
  //   }        
  // }  

  @include responsive(medium-screens) {
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
    padding: 2px;

    li {
      &#error-address, &#error-boro {
        width: inherit;
        top: -125px;
        padding: inherit;
        margin: 0 auto;
        // margin-top: 5px;
        display: block;
        font-size: 0.5em;         
      }

      &#error-not-found {
        top: 130px;
        max-width: inherit;
        width: inherit;
        margin: 0 auto;         
        padding: inherit;         
        display: block;
        text-align: left;
        font-size: 0.5em;
      }

    }
  }     
} 