.slide .centered {
  .button {
    @include button;

    &:hover {
      background-color: $orange;
    }
    
    a {
      color: $white;
    }

    &.search {
      display: block;
      margin-top: 50px;
      left: 15px;
    }

    &.start-over {
      width: 230px;
    }

    &.learn-more {
      width: 240px;
      margin-left: 50px;
    }
  }

  .button-holder {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}