.button {
  @include button;
  font-size: 2em; 

  &:hover {
    background-color: $orange;
  }
  
  a {
    color: $white;
  }

  &.search {
    position: absolute;
    display: block;
    width: 150px;
    left: 50%;
    bottom: 5%;
    margin-left: 75px;
    margin-top: 50px;

    &.es {       
      width: 170px;
    }
  }

  &.learn-more {
    width: 180px;
    margin-left: 50px;
  }

  @include responsive_height(medium-screens) {
    width: 160px;
    font-size: 1.8em;
    padding: 8px 12px;

    &.search {
      width: 125px;
      margin-left: -62.5px;
    }

    &.start-over.es {
      width: 215px;
    }

    &.learn-more {
      width: 175px;
    }
  }

  @include responsive(medium-screens) {        
    width: 160px;
    font-size: 1.8em;
    padding: 8px 12px;

    &.search {
      width: 125px;
      margin-left: -62.5px;
    }
  }

  @include responsive(small-screens) {
    // margin: 0 auto;
    width: 110px;
    font-size: 1.3em;
    padding: 8px 12px;

    &.search {
      width: 110px;
      margin-left: -55px;
      // width: 110px;
    }

    &.start-over {
      width: 120px;
    }

    &.learn-more {
      width: 125px;       
      margin-top: 10px;
      margin-left: 10px;
    }      
  }

}

.button-holder {
  width: 100%;
  text-align: center;
  margin-top: 30px;

  @include responsive(small-screens) {
    margin-top: 10px;
  }
}