#atc_text_link.addtocalendar {
  
  ul.atcb-list {
    width: 275px;
    border: 3px solid $medgray;
  }
  
  li.atcb-item {
    padding: 5px;
    border-bottom: 1px solid $medgray;
    
    &:last-child {
      border-bottom: none;
    }
  }
}