#sprite {
  position: relative;
  left: -15px;
  width: 192px; /*128px;*/
  height: 424px; /*288px;*/
  margin: 0 auto;
  margin-top: 75px;
  background: url('../assets/png/checking-sprite.png') left center;
  @include animation($name:play);
  @include keyframes($name:play, $to:-1920px);
}

