.dhcr-choice {
  position: relative;  
  max-width: 1000px;
  max-height: 120px;
  margin: 0 auto;
  margin-top: 50px;

  @include columns($width: 200px, $number: 3);

  p {
    max-width: 200px;
    height: 110px;    
    margin-top: 0;
  }

  @include responsive(tablet-screens) {
    height: 120px;
    width: 630px;
    
    p {
      height: 95px;
      width: 80%;
      font-size: 2.5em;
    }
  }

  @include responsive(small-screens) {
    max-width: auto;
    p {
      height: auto;
      margin-top: 5%;
    }    
  }
}

.action-choice {
  position: relative;
  max-width: 750px;
  height: 315px;
  margin: 0 auto;
  margin-top: 60px;

  @include columns($width:325px, $number:2, $gap:80px);
  
  @include responsive_height(medium-screens) {
    height: 305px;
    @include columns($width:200px);    
  }  

  @include responsive(tablet-screens) {
    width: 600px;
    margin-top: 15%;
    @include columns($width:255px, $number:2, $gap:80px);
  }


  h4:last-child{
    margin-left: 25px;
    top: -3px;
  }

  p {
    // max-width: 350px;
    width: 325px;
    height: 250px;
    margin: 0;
    margin-top: 20px;    
    font-size: 2.5em;
    text-align: left;

    &.yes-local-tr {
      display: none;
    }

    &:first-child {
      // margin-left: 30px;
    }

    &:last-child {
      // margin-left: 60px;  
    }

    @include responsive_height(medium-screens) {
      margin-top: 1%;
      height: 265px;
      padding: 20px;
      font-size: 2.2em;      
    }
    
    @include responsive(tablet-screens) {
      width: 255px;
      height: 250px;      
    }
  }

  h4 {
    position: relative;
    margin-top: 0;
    font-family: $header-font;
    font-size: 3.2em;
    font-weight: 700;
    text-align: center;
    color: $green;

    &:last-child {
      top: -3px;
    }
  }

  @include responsive(small-screens) {
    max-width: auto;

    h4 {
      font-size: 1.5em;
      margin-top: 10%;
    }

    p {
      width: 70%;
      font-size: 2.2em;
    }
  }    
} // end .action-choice

input[placeholder] {
  color: $medgray !important;
  font-family: $body-font !important;
  font-weight: 300 !important;
}
input::-webkit-input-placeholder {
   color: $medgray !important;
   font-family: $body-font !important;
   font-weight: 300 !important;
}

input:-moz-placeholder { /* Firefox 18- */
   color: $medgray !important;
   font-family: $body-font !important;
   font-weight: 300  !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: $medgray !important;
   font-family: $body-font !important;
   font-weight: 300  !important;
}

input:-ms-input-placeholder {  
   color: $medgray !important;
   font-family: $body-font !important;
   font-weight: 300  !important;
}