/* Lightbox for sample rent history */ 
a.lightbox {
  // display: none;
  position: fixed;
  z-index: 49;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;  
  background: rgba(0,0,0,0.8);
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;     

  img {
    position: relative;
    left: 30px;
    max-height: 680px;
    max-width: 530px;
    margin-top: 80px;
  }

  &:target {
    opacity: 1;
    pointer-events: auto;
    outline: none;
    display: block;
    z-index: 20;
  }
  
  @include responsive(tablet-screens) {
    img {
      left: 0;
      margin-top: 20%;      
    }
  }

  @include responsive(small-screens) {
    img {
      width: 90%;
      left: 0;
    }
  }
}