/* Lightbox for sample rent history */ 
a.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);

  img {
    position: relative;
    left: 30px;
    max-height: 680px;
    max-width: 530px;
    margin-top: 80px;
  }

  &:target {
    outline: none;
    display: block;
  }
  
  @include responsive(tablet-screens) {
    img {
      left: 0;
      margin-top: 20%;      
    }
  }
}