#map {
  position: relative;
  left: 0;
  margin: 0 auto;
  margin-top: 30px;
  width: 550px;
  height: 300px;
  border: 1px solid #999;
  // &:hover {
  //   cursor: default;
  // }

  @include responsive_height(medium-screens) {
    margin-top: 2%;
    height: 275px;

    .map-message {
      font-size: 2.2em;
      margin-top: 1%;
    }            
  }

}
