// mixins
@mixin columns($width, $number:2, $gap:0) {
  -webkit-columns: $width $number;
     -moz-columns: $width $number;
          columns: $width $number;

  -webkit-column-gap: $gap;  
     -moz-column-gap: $gap;
          column-gap: $gap;

  -webkit-column-rule: 1px solid $lightgray;
     -moz-column-rule: 1px solid $lightgray;
          column-rule: 1px solid $lightgray;  	
}

@mixin button {
  display: inline-block;
  position: relative;
  width: 170px;
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  background-color: $darkorange;
  padding: 10px 20px;
  border-radius: 35px;	
}

@mixin animation($name, $interval:0.8s, $steps:10, $length:infinite){
  -webkit-animation: $name $interval steps($steps) $length;
     -moz-animation: $name $interval steps($steps) $length;
      -ms-animation: $name $interval steps($steps) $length;
       -o-animation: $name $interval steps($steps) $length;        
          animation: $name $interval steps($steps) $length;	
} 

@mixin keyframes($name, $to, $from:0) {
	@-webkit-keyframes $name {
	   from { background-position: $from; }
	     to { background-position:   $to; }
	}

	@-moz-keyframes $name {
	   from { background-position: $from; }
	     to { background-position:   $to; }
	}

	@-ms-keyframes $name {
	   from { background-position: $from; }
	     to { background-position:   $to; }
	}

	@-o-keyframes $name {
	   from { background-position: $from; }
	     to { background-position:   $to; }
	}

	@keyframes $name {
	   from { background-position: $from; }
	     to { background-position:   $to; }
	}
}