nav.main-nav {
  position: fixed;
  background-color: $gray;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 500;

  .logo {
    height: 65px;
    display: inline;
    margin: 0 0 0 20px;
    padding: 5px;
    float: left;
  }

  h1 {
    display: inline;
    width: auto;
    float: left;
    font-size: 2.8em;
    margin-top: 21px;
    margin-left: 10px;    

    a.go-first {
      display: inline-block;
      padding: 0;
      color: #fff;
      font-size: 1em;
      letter-spacing: .05em;
      font-weight: 500;
    }

    a.go-first:hover {
      border-bottom: none;
      color: $orange;
    }
  }

  div.burger {
    display: none;
    &.open {
      position: relative;
      display: inline-block;
      background-image: url('../assets/png/x.png'); 
      background-position: center;      
      width: 19px;
      height: 18px;
      right: 4.5%;
    }
  }

  ul {
    float: right;
    list-style: none;    
    margin-top: 20px;

    li {
      display: inline-block;
      margin-right: 55px;

      &:last-child {
        margin-right: 30px;
      }

      a {
        text-align: center;
        font-family: $header-font;
        font-weight: 300;
      }
    }

    &.responsive {
      display: block;
      position: absolute;
      margin-top: 8px;
      float: none;
      right: 0%;
    
      li {
        width: 200px;
        display: block;
        margin: 0;

        a {
          display: block;
          padding: 10px 10px 10px 20px;      
          border-bottom: none;
          text-align: left;
        }
      } 
    }      
  }

  a {
    position: relative;
    top: 0;
    margin: 0;
    padding-bottom: 3px;
    font-weight: normal;
    font-size: 2.4em;
    text-align: center;
    background-color: #4a4a4a;
    color: #fff;

    &.active {
      top: -4px;
      background-color: #69C773;
      color: $white;
    }

    &:hover {
      color: $orange;
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
  }
}

#lang-toggle {
  position: fixed;
  top: 90px;
  left: 30px;
  z-index: 100;
  
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;
  }
  li:last-child {
    list-style: disc;
    list-style-position: inside;
    // margin-left: 10px;
  }
  a, p {
    text-decoration: none;
    font-family: $body-font;
    font-weight: 300;
    font-size: 1.8em;
    color: $lightgray;
  }
  a:hover {
    color: $gray;
  }
}

nav.margin-circles {
  position: fixed;
  z-index: 100;
  top: 22%;
  left: 30px;
  ul {
    list-style-type: none;
  }
  li {
    width: 25px;
    height: 25px;
    margin-top: 25px;
    background-image: url('../assets/png/oval_25_blank.png');
    background-size: 25px;
    background-repeat: no-repeat;    
  }
  li:first-child {
    background-image: url('../assets/png/oval_25_filled.png');
  }
}