body {
  width: 100%;
  height: 100%;
}

#main {
  width: 75%;  
  position: relative;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 25%;

  h1, h3, p {
    text-align: left;
    max-width: 100%;
    margin-left: 0;
    padding: 0;
  }

  h1 {
    margin-top: 50px;
    color: $orange;
    
    &:first-child {
      margin-top: 25px;
    }    
  }
  
  h3 {
    width: 80%;
    margin-top: 25px;
    margin-left: 0;
    font-family: $body-font;
    font-size: 2.8em;
    font-weight: bold;
    line-height: 1.2em;
  }
  
  p {
    width: 80%;
    margin-top: 25px;
    padding-right: 25px;
    font-size: 1.8em;
    line-height: 1.6em;
  }

  ul {
    margin-left: 25px;
  }

  li {
    color: $green;
    font-size: 1.8em;
    width: 80%;
    margin-top: 20px;
    list-style-position: outside;
  
    p {
      margin-top: 5px;
      font-size: 1em;
    }

  }

  a {
    text-decoration: none;
  }

  a[name] {
    position: relative;
    display: block;
    top: -40px;
    visibility: hidden;
  }

  a[name="videos"], a[name="why"], 
  a[name="how"], a[name="non-gov"] {
    top: -80px;
  }

  .video {
    max-width: 600px;
    margin-top: 50px;

    iframe {
      margin-top: 25px;
      width: 100%;
      height: 372px;
    }    
  }

  .italic {
    font-style: italic;
  }

  @include responsive_height(medium-screens) {
    width: 70%;
    margin-left: 22%;

    h1 {
      font-size: 3em;
      width: 100%;
      margin-left: 0;      
    }

    h3 {
      font-size: 1.7em;
    }

    p, li {
      font-size: 1.7em;
      margin-top: 1.2em;
    }       
  }  

  @include responsive(medium-screens) {
    position: relative;
    display: block;
    width: 75%;
    margin-top: 50px;
    margin-left: 10%;    

    h1, h3, p, li {
      max-width: 100%;
      width: 100%;
    }

    h1 {
      font-size: 3em;
    }

    h3 {
      font-size: 1.7em;
    }

    p, li {
      font-size: 1.7em;
    }   
  }

  @include responsive(tablet-screens) {
    width: 80%;
    left: 0;    
    
    h1{
      margin-top: 25px;
      font-size: 2em;
    }

    h3 {
      width: 90%;
      margin-top: 15px;
      font-size: 1.5em;
    }

    p, li {
      margin-top: 10px;
      font-size: 1.5em;
    }

    p {
      width: 90%;
      padding-right: 10px;
    }

    .video{
      margin-top: 25px;
      // max-width: 500px;
      width: 90%;
      
      iframe {        
        margin-top: 10px;
        width: 100%;        
      }      
    }    
  }

  @include responsive(small-screens) {
    position: relative;
    display: block;
    width: 90%;
    margin: 50px auto 50px auto;

    h1, h3, p {
      max-width: 100%;
      width: 100%;
    }

    h1 {
      font-size: 2.3em;
      margin-top: 20px;
    }

    h3 {      
      font-size: 1.8em;
      margin-top: 10px;
    }

    p, li {
      font-size: 1.5em;
      line-height: 1.4em;
    }  

    p {
      max-width: 100%;
      width: 100%;
      margin-top: 10px;
    }

    li {
      width: 90%;
      margin-top: 10px;
    }

    .video {
      margin-top: 25px;

      iframe {
        margin-top: 10px;
        height: auto;
      }
    }
  }

  @include responsive_mobile_landscape() {
    width: 95%;
    margin: 0 0px 50px 20px;

    .video {
      width: 100%;
      
      iframe {
        max-width: 80%;
        height: auto;
        height: 100%;        
      }
    }
  }
}