body {
  width: 100%;
  height: 100%;
}

#left {
  width: 18.75em;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;

  @include responsive(small-screens) {
    position: relative;
    width: 100%;
    height: auto;      
  }

}

#lang-toggle {
  position: relative;
}

#side-nav {
  position: relative;
  width: 200px;
  left: 30px;
  top: 140px;
  font-size: 1.5em;

  h3 {
    font-size: 1.2em;
    display: inline;
    padding-bottom: 3px;
    border-bottom: 2px solid $lightgray;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin-top: 10px;
    font-family: $body-font;

    &:first-child {
      margin-top: 15px;
    }
    
    ul {
      margin-left: 10px;
    }
    
    li {
      margin-top: 5px;
      &:first-child {
        margin-top: 10px;
      }
    }
  } 

  @include responsive(medium-screens) {
    width: 70%;
    left: 0;
    top: 54px;
    margin-left: 30%;

    h3 {
      display: block;
      width: 150px;
      margin-left: 0;
    }

    ul {
      display: inline;      
    }

    li {
      display: inline-block;
      margin-right: 1em;
      margin-left: 0;
      margin-top: 5px;

      &.responsive {
        margin-right: 0;
      }

      & a.responsive-turn-off {
        display: none;
      }

      & a.responsive-turn-off + ul {
        margin-left: 0;        
      }
      
      &:first-child {
        margin-top: 0;        
      }
    }    
  }

  @include responsive(small-screens) {
    display: none;
  }  

}

#main {
  width: 75%;  
  position: relative;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 30em;

  h1, h3, p {
    text-align: left;
    max-width: 100%;
    margin-left: 0;
  }

  h1 {
    margin-top: 50px;
    color: $orange;
    
    &:first-child {
      margin-top: 25px;
    }    

    @include responsive_height(medium-screens) {
      font-size: 4.2em;
      max-width: 85%;
      margin-left: 0;
    }

  }
  
  h3 {
    width: 80%;
    margin-top: 25px;
    margin-left: 0;
    font-size: 3em;
  }
  
  p {
    width: 80%;
    margin-top: 25px;
    padding-right: 25px;
    font-size: 2.2em;
  }

  ul {
    margin-left: 25px;
  }

  li {
    color: $green;
    font-size: 2.2em;
    width: 80%;
    margin-top: 20px;
    list-style-position: outside;
  
    p {
      margin-top: 5px;
      font-size: 1em;
    }

  }

  a {
    text-decoration: none;
  }

  a[name] {
    position: relative;
    display: block;
    top: -40px;
    visibility: hidden;
  }

  a[name="videos"], a[name="why"], 
  a[name="how"], a[name="non-gov"] {
    top: -80px;
  }

  .video {
    max-width: 600px;
    margin-top: 50px;

    iframe {
      margin-top: 25px;
      width: 100%;
      height: 372px;
    }    
  }

  @include responsive(medium-screens) {
    position: relative;
    display: block;
    width: 90%;
    margin-top: 85px;
    margin-left: 10%;    

    h1, h3, p {
      max-width: 100%;
      width: 100%;
    }

    h1 {
      font-size: 3.2em;
    }

    h3 {
      font-size: 2.6em;
    }

    p {
      font-size: 2em;
    }   
  }

  @include responsive(tablet-screens) {
    width: 90%;
    left: 0;    
    margin-top: 140px;
    
    h1{
      margin-top: 25px;
      font-size: 2em;
    }

    h3 {
      margin-top: 15px;
      font-size: 1.8em;
    }

    p, li {
      margin-top: 10px;
      font-size: 1.5em;
    }

    p {
      padding-right: 10px;
    }

    .video{
      margin-top: 25px;
      
      iframe {
        margin-top: 10px;
        width: 100%;
        height: 250px;
      }      
    }    
  }

  @include responsive(small-screens) {
    position: relative;
    display: block;
    width: 90%;
    margin-top: 100px;
    margin-left: 10%;    

    h1, h3, p {
      max-width: 100%;
      width: 100%;
    }

    h1 {
      font-size: 3.2em;
    }

    h3 {
      font-size: 2.6em;
    }

    p {
      font-size: 2em;
    }  
  }

}