$gray: #4a4a4a;
$medgray: #9B9B9B;
$lightgray: #ABABAB;
$green: #417505;
$orange: #FFC462;
$darkorange: #CE912D;
$darkteal: #277159;
$purple: #7a5de8;
$lightblue: #9cddf0;
$blue: #45acff;
$valError: #D98C8C;
$white: #FFFFFF;

$header-font: "museo-sans-rounded", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
$body-font: "Oxygen", Arial,"Helvetica Neue", Helvetica, sans-serif;