@media screen and (max-width: 420px) {

	nav.margin-circles {
		display: none;
	}

	#lang-toggle {
		display: none;
	}
	
	.slides-container {
		width: 100%;
		left: 0;
		margin: 0 auto;

		.slide {

		}
	}

	.slide .centered {
		width: 100%;

		h1, h2, h3, h4 {
			max-width: 100%;
			padding: 0 1%;
		}

		h1, h1.landing {
			font-size: 2.6em;
			line-height: 1.2em;
			max-width: 100%;
			margin-top: 3%;
		}

		h2 {
			font-size: 2em;
		}

		p {
			font-size: 1.8em;
			
			&.landing {
				margin-top: 10%;
			}
		}

		img {
			&.triple-s {
				width: 25px;
				margin-top: 50px;
			}

			&.building.intro {
				width: 55px;
			}
		}

	}

	.go-next {
		&.bottom-arrow {
			bottom: 15%;

			h3 {
				font-size: 1.6em;
			}

			.arrow {
				width: 32px;
				height: 11px;
				background-image: url('../assets/png/chevron-sm.png');
			}
		}
	}
}