.main-nav {
  
  div.burger {
    &.open {
      position: relative;
      background-image: url('../assets/png/x.png'); 
      background-position: center;
      width: 19px;
      height: 18px;
      right: 4.5%;
    }
  }

  ul.responsive {
    display: block;
    position: absolute;
    margin-top: 8px;
    float: none;
    right: -3.2%;
  
    li {
      width: 200px;
      display: block;
      margin: 0;

      a {
        display: block;
        padding: 10px 10px 10px 20px;      
        border-bottom: none;
        text-align: left;
      }
    } 
  }
}