@media screen and (max-height: 700px) {
	// , screen and (max-width: 1100px)
	
	.slides-container {
		// height: auto;
		width: 960px;
		margin: 0 auto;
		position: absolute;		
		left: 53.776041666667%;
		margin-left: -516.25px;		
		// left: 36.25px; // half of left margin when container is centered horizontally

		.slide {
			// height: 590px;			
			margin: 0 auto;
			// border-top: 1px solid $lightgray;
		}
	}

	.slide .centered {
		//border: 1px solid $gray;
		left: 0;
		width: 90%;

		h1 {
		  max-width: 85%;
		  margin-top: 6%;
		  font-size: 4.2em;

		  &.landing {
		  	margin-top: 0px;
		  }

		  &.news, &.end {
		  	margin-top: 2%;
		  }
		}

		h2 {
			font-size: 4.2em;

			&.sub-head {
				margin-top: 2%;
			}
		}

		p {
			font-size: 2.5em;
			margin-top: 1%;

			&.check-it {
				margin-top: 25px;
				width: 70%;
			}

			.centered.no & {
				margin-top: 30px;
			}
		}

		img {
			&.triple-s {
				margin-top: 1%;
				margin-bottom: 0;
			}

			&.building.intro {
				margin-top: 1%;
				margin-bottom: 1%;
			}

			&.mascot {
				max-width: 20%;
			}
		}

		.button {
			font-size: 2.5em;
			padding: 8px 10px;

			&.search {
				margin-top: 0;
				left: 0;
			}

			&.start-over {
				width: 200px;
			}

			&.learn-more {
				width: 205px;
			}
		}
	}

	nav.margin-circles {
		top: 25%;

		li {
			width: 20px;
			height: 20px;
			background-size: 20px;
			margin-top: 20px;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.go-next {
		&.bottom-arrow {
			bottom: 12%;
			margin-left: -62.5px;
		}
	}


	#address-form {
		width: 100%;
		height: 250px;

		input {	
			&.address-input {
				width: 400px;	
				height: 60px;		
			}
		}

		div.user-data {
			font-size: .9em;
			height: 60px;

			&.borough-select {
				margin-left: 55px;				
			}
		}

		ul.validation-error {
			&.not-found {
				left:0;
			}

			li {
				max-width: 400px;			

				&#error-not-found {
					max-width: 80%;
					display: block;
				}

				&#error-boro {
					margin-left: 55px;
					width: 400px;
				}			

			}

		}

	}

	#sprite {
		background: url('../assets/png/checking-sprite-sm.png');
		width: 128px;
		height: 288px;
	}

	@include keyframes($name:play, $to:-1280px);

	#map-container {
		
		#map {
			margin-top: 2%;
			height: 275px;
		}	

		.map-message {
			font-size: 2.2em;
			margin-top: 1%;
		}
	}

	.centered .action-choice {
		p {
			height: auto;
			margin-top: 1%;
		}
	} 

	/* why, how, resources pages */
	#main {

		h1 {
			font-size: 4.2em;
			max-width: 85%;
			margin-left: 0;
		}		
	}

} // end media query
