/* 
	 viewport width: > 1070px 
	 viewport height: > 620px

	 thoughts: use jquery to set height of slides?
*/

.slides-container {
	height: auto;	

	.slide {
		height: 590px;
		border: 1px solid $lightgray;
	}
}

.slide .centered {
	border: 1px solid $gray;
	left: 0;

	h1 {
	  max-width: 90%;
	  margin-top: 2%;

	  &.landing {
	  	margin-top: 0px;
	  }
	}

	h2 {
		&.sub-head {
			margin-top: 2%;
		}
	}

	p {
		&.check-it {
			width: 70%;
		}
	}

	img {
		&.triple-s {
			margin-top: 1%;
			margin-bottom: 0;
		}

		&.building.intro {
			margin-top: 1%;
			margin-bottom: 1%;
		}

		&.mascot {
			width: 200px;
		}
	}

	.button {
		font-size: 2.5em;
		padding: 8px 10px;

		&.search {
			margin-top: 0;
		}

		&.start-over {
			width: 200px;
		}

		&.learn-more {
			width: 205px;
		}
	}

	&.yes, &.no {
		p {
			width: 90%;
			font-size: 2.2em;
			margin-top: 1%;
		}
	}

	&.yes {
		display: none;
	}
}

nav.margin-circles {
	top: 22%;
}

.go-next {
	&.bottom-arrow {
		bottom: 3%;
		margin-left: -62.5px;
	}
}


#address-form {
	width: 100%;
	height: 250px;

	input {	
		&.address-input {
			width: 400px;	
			height: 60px;		
		}
	}

	div.user-data {
		font-size: .9em;
		height: 60px;

		&.borough-select {
			margin-left: 3%;
			float: right;
		}
	}

	ul.validation-error {
		&.not-found {
			left:0;
		}

		li {
			max-width: 400px;			

			&#error-not-found {
				max-width: 90%;
				display: block;
			}

			&#error-boro {
				margin-left: 3%;
				width: 400px;
			}			

		}

	}

}

#sprite {
	background: url('../assets/png/checking-sprite-sm.png');
	width: 128px;
	height: 288px;
}

#map-container {
	
	#map {
		margin-top: 0;
		height: 275px;
	}	

	.map-message {
		font-size: 2.2em;
		margin-top: 1%;
	}
}
