@media screen and (min-width: 320px) {

	nav.main-nav {
		img.logo {
			margin-left: 10px;
		}

		h1 {
			font-size: 1.8em;
			
			a.go-first {
				font-size: 1em;
			}
		}
		ul {
			display: none;
		}
	}

	nav.margin-circles {
		display: none;
	}

	#lang-toggle {
		display: none;
	}
	
	.slides-container {
		width: 320px;
		left: 0;
		margin: 0;

		.slide {

		}
	}

	.slide .centered {
		width: 95%;

		h1, h2, h3, h4 {
			max-width: 100%
		}
		h1, h1.landing {
			font-size: 2.6em;
			line-height: 1.2em;
			max-width: 100%;
			margin-top: 0;
		}

		h2 {
			font-size: 2em;
		}

		p {
			font-size: 1.8em;
		}

		img {
			&.triple-s {
				width: 35px;
			}

			&.building.intro {
				width: 55px;
			}
		}

	}

	.go-next {
		&.bottom-arrow {
			bottom: 15%;
			
			h3 {
				font-size: 1.6em;
			}

			.arrow {
				width: 32px;
				height: 11px;
				background-image: url('../assets/png/chevron-sm.png');
			}
		}
	}
}