@media screen and (max-width: 980px){
  nav.main-nav {
    img.logo {
      // margin-left: 10px;
    }

    h1 {
      display: inline-block;
      font-size: 2.8em;            
      margin-left: 10px;
      // text-align: center;
      float: none;
      
      a.go-first {
        font-size: 1em;
        padding-bottom: 3px;
      }
    }
    
    li a {
      display: none;
    }

    div.burger {
      display: inline-block;
      position: relative;
      float: right;
      background-image: url('../assets/png/hamburger-sm.png');
      width: 30px;
      height: 18px;
      margin-top: 22px;
      right: 4%;
      cursor: pointer;
    }
  }  

  .slide .centered {
    h1 {
      margin-top: 3%;
      width: 70%;
    }

    a.lightbox img {
      max-width: 420px;
    }      
  }

  #address-form {
    margin-top: 40px;

    input { 
      &.address-input {
        width: 400px; 
        height: 60px;   
      }
    }

    div.user-data {
      font-size: .9em;
      height: 60px;
      width: 400px;
      margin: 0 auto;
      display: block;
      top: -75px;

      &.borough-select {
        margin: 0 auto;
        margin-top: 20px;       
      }
    }

    ul.validation-error {
      &.not-found {
        left:0;
      }

      li {
        max-width: 400px;     

        &#error-not-found {
          top: 160px;
        }

        &#error-boro {
          width: 140px;
          margin-left: 415px;
          padding: 10px;
          top: -225px;
        }

        &#error-address {
          width: 145px;
          top: -225px;
          margin-left: 75px;
        }

      }
    }
  }

  #left {
    position: relative;
    width: 100%;
    height: auto;    
  }

  #lang-toggle {
    display: inline-block;
    width: auto;
  }

  #side-nav {
    width: 70%;
    left: 0;
    top: 54px;
    margin-left: 30%;

    ul {
      display: inline;
      margin-left: 1em;
    }

    li {
      display: inline-block;
      margin-right: 1em;
    }

  }

  #main {    
    position: relative;
    display: block;
    width: 90%;
    margin-top: 85px;
    margin-left: 10%;    

    h1, h3, p {
      max-width: 100%;
      width: 100%;
    }

    h1 {
      font-size: 3.2em;
    }
  }
}