@media screen and (max-width: 420px) {
	nav.main-nav {
	  
	  .logo {
	    margin-left: 10px;  
	  }

	  h1 {
	    font-size: 1.8em;
	  }

	  ul.responsive {
	    right: -9.3%;
	  }
	}

	nav.margin-circles {
		display: none;
		// position: absolute;
		// display: block;
		// width: 300px;
		// margin-left: -150px;
		// left: 50%;
		// top: 10%;
		
		&:first-child {
			margin-left: 0;
		}

		li {
			display: inline-block;
			margin-left: 5px;
		}
	}

	#lang-toggle {
		display: none;
	}
	
	.slides-container {
		width: 100%;
		left: 0;
		margin: 0 auto;

		.slide {

		}
	}

	.slide .centered {
		width: 100%;

		h1, h2, h3, h4 {
			max-width: 100%;
			padding: 0 1%;
		}

		h1, h1.landing {
			font-size: 2em;
			line-height: 1.2em;
			width: 97%;
			margin-top: 3%;
		}

		h2 {
			font-size: 1.6em;
		}

		p {
			font-size: 1.3em;
			
			&.landing {
				margin-top: 10%;
			}

			&.check-it {
				width: 60%;
				margin-top: 10%;

				.addtocalendar {
					margin-top: 15%;
				}
			}
			
			.yes &, .no &, &.map-message {
				font-size: 1.5em;
			}			
		}

		img {
			&.triple-s {
				width: 25px;
				margin-top: 30px;
			}

			&.building.intro {
				width: 55px;
			}

			&.mascot {
				width: 118px;
			}
		}

		.button {
			display: block;
			margin: 0 auto;
			width: 110px;
			font-size: 1.5em;			

			&.start-over {
				width: 120px;
			}

			&.learn-more {
				width: 125px;
				margin: 0 auto;
				margin-top: 10px;
			}
		}	

		.dhcr-choice {
			max-width: auto;
			p {
				height: auto;
				margin-top: 5%;
			}
		}

		.action-choice {
			max-width: auto;

			h4 {
				font-size: 1.5em;
				margin-top: 10%;
			}

			p {
				width: 70%;
			}
		}

	}

	.go-next {
		&.bottom-arrow {
			bottom: 15%;

			h3 {
				font-size: 1.6em;
			}

			.arrow {
				width: 32px;
				height: 11px;
				background-image: url('../assets/png/chevron-sm.png');
			}
		}
	}

	#address-form {
		height: 244px;
		margin-top: 15%;

		div.user-data {
			width: 240px;
			top: -125px;
			font-size: 0.6em;

			&.borough-select {
				width: 240px;
				height: 50px;
				margin-top: 5px;

				ul.drop-down {
					width: 240px;
				}

				&:after {
					width: 17px;
					height: 10px;
					right: 5px;
					top: 20px;
					background-image: url('../assets/png/drop-down-triangle-sm.png');
				}
			}
		}

		input.address-input {
			width: 240px;
			height: 50px;
			margin-top: 3px;
		}

		ul.validation-error {
			li {					
				&#error-address, &#error-boro {
					width: 98%;
					top: -125px;
					padding: 5px;
					margin: 0 auto;
					// margin-top: 5px;
					display: block;
					font-size: 0.5em;					
				}

				&#error-not-found {
					top: 158px;
					max-width: 98%;
					margin: 0 auto;					
					padding: 5px;					
					display: block;
					text-align: left;
					font-size: 0.5em;
				}

			}
		}		
	}

	#sprite {
		left: 0;
	}
	
	.centered {

		&#map-container {
			#map {
				width: 90%;
				height: 200px;
				margin-top: 5%;
			}

			.map-message {
				font-size: 1.3em;
				width: 70%;
				margin-top: 4%;
			}
		}
		
		&.yes, &.no {
			p {
				font-size: 1.3em;
				max-width: 95%;
				margin-top: 3%;
			}
		}		
	}
}