.slides-container {
  position: absolute;
  top: 60px;
  width: 960px;
  // margin: 0 auto;
  left: 53.776041666667%;
  margin-left: -516.25px;   
  height: 100%;
  overflow: hidden;
  z-index: 10;
  background-color: #FFFFFF;

  @include responsive(medium-screens) {
    width: 100%;
    left: 0;
    margin: 0;
  }

  @include responsive(small-screens) {
    width: 100%;
    left: 0;
    margin: 0;
  }

  @include responsive_mobile_landscape() {
    display: none;
  }
}

.slide {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  overflow: hidden;
}
  
.centered {
  width: 100%;
  margin: 0 auto;
  position: relative; 

  &.v-centered {
    top: 50%;
    transform: translateY(-50%);        
  }

  #slide-1 & {
    // top: 38%;
  }

  .share-box-end {
    display: block;
    position: relative;
    margin-top: 20px;
    text-align: center;
  
    p {
      display: inline;      
    }  
  
    .addthis_sharing_toolbox {
      margin: 0 auto;
      margin-top: 10px;
    }      
  } 

  @include responsive_height(medium-screens) {
    width: 100%;
    // font-size: 1em !important;
  }   

  @include responsive(medium-screens){
    width: 100%;

    a.lightbox img {
      max-width: 420px;
    }         
  }

  @include responsive(tablet-screens) {
    #slide-1 & {
      // top: 45%;
    }

    .no {
      margin-top: 10%;
      
      p:last-child {
        margin-top: 0;
      }
    }
  }

  @include responsive(small-screens) {
    width: 100%;

    #slide-1 & {
      // top: 36%;
    }    

    .yes, .no {
      p {
        font-size: 1.3em;
        max-width: 95%;
        margin-top: 3%;
      }
    }
  }      
}