.slides-container {
  position: absolute;
  // left: 0;
  top: 60px;
  width: 960px;
  margin: 0 auto;
  left: 53.776041666667%;
  margin-left: -516.25px;   
  height: 100%;
  // overflow: hidden;
  z-index: 10;
  background-color: #FFFFFF;

  @mixin responsive($width-sm) {

  }
}

.slide {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  // overflow: hidden;
  
  .centered {
    width: 80%;
    margin: 0 auto;
    position: relative;
    // left: 30px;    
    
    .title {
      font-style: italic;
      font-weight: 300;
    }
  
    .share-box-end {
      display: block;
      position: relative;
      margin-top: 20px;
      text-align: center;
    
      p {
        display: inline;      
      }  
    
      .addthis_sharing_toolbox {
        margin: 0 auto;
        margin-top: 10px;
      }      
    }      
  }
}