// pallette
$gray: #4a4a4a;
$medgray: #9B9B9B;
$lightgray: #ABABAB;
$green: #417505;
$orange: #FFC462;
$darkorange: darken($orange, 20%); //#CE912D;
$darkteal: #277159;
$purple: #7a5de8;
$lightblue: #9cddf0;
$blue: #45acff;
$valError: #D98C8C;
$white: #FFFFFF;

// fonts
$header-font: "museo-sans-rounded", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
$body-font: "Oxygen", Arial,"Helvetica Neue", Helvetica, sans-serif;

// media query breakpoints
$width-sm: 420px;
$width-md: 980px;
$width-lg: 1100px; // not-used

$height-sm: 480px;
$height-md: 700px;
$height-lg: 900px; // not-used