$gray: #4a4a4a;
$medgray: #9B9B9B;
$lightgray: #ABABAB;
$green: #417505;
$orange: #FFC462;
$darkorange: #CE912D;
$darkteal: #277159;
$purple: #7a5de8;
$lightblue: #9cddf0;
$blue: #45acff;
$valError: #D98C8C;
$white: #FFFFFF;

$header-font: "museo-sans-rounded", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
$body-font: "Oxygen", Arial,"Helvetica Neue", Helvetica, sans-serif;

html {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body, div, p {
  margin: 0;
  padding: 0;
}

body {
  width: 1366px;
  color: #4a4a4a;
  font-family: $body-font;
  font-weight: 400;
  letter-spacing: 0.0625em;
  background-color: $white;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;    
}

h1, h2, h3, h4 {
  width: 100%;
  margin: 0 auto; 
  margin-bottom: 0;
  font-family: $header-font;
  font-weight: 700;
  line-height: 1em;
  color: $gray;
}

h1 {
  font-size: 5.4em;
  color: $gray;
  max-width: 70%;
  margin-top: 30px;
  &.landing {
    margin-top: 0px;
  }  
  #slide-2 .centered & {
    max-width: 70%;
  }
}

h2 {
  font-size: 4.8em;
  color: $lightgray;
  &.sub-head {
    margin-top: 50px;
  }
}

h3 {
  font-size: 4em;
}

h4 {
  font-size: 2.4em;
  color: $orange;
  &.step {
    margin-top: 20px;
    font-family: $body-font;
    font-weight: 300;
  }
}

p {
  max-width: 85%;
  margin: 0 auto;
  font-size: 2.8em;
  color: $green;
  
  &.map-messsage {
    margin-top: 30px;
  }

  &.share-it {
    color: $medgray;  
  }

}

a {
  text-decoration: none;
  font-weight: 600;
  color: $darkteal;
  &.internal {
    color: $orange;
  }
  &:hover {
    color: $lightblue;
  }
}

img {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  &.triple-s {
    width: 40px;
    margin-top: 30px;
  }
  &.building.intro {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &.checking {
    left: -10px;
    width: 175px;
    margin-top: 50px;
  }
  &.mascot {
    width: 260px;
    margin-top: 20px;
    &.monster {      
      left: 11px;
    }
    &.intro {
      width: 130px;
    }
  }
  &.rent-history {
    width: 150px;
    border: 1px solid $lightgray;
    margin-top: 30px;
  }
}

/* Lightbox for sample rent history */ 
a.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);

  img {
    position: relative;
    left: 30px;
    max-height: 680px;
    max-width: 530px;
    margin-top: 80px;
  }

  &:target {
    outline: none;
    display: block;
  }
}

nav.main-nav {
  position: fixed;
  background-color: $gray;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  .logo {
    height: 65px;
    display: inline;
    margin: 0 0 0 20px;
    padding: 5px;
    float: left;
  }
  h1 {
    display: inline;
    width: auto;
    float: left;
    font-size: 1em;
    margin-top: 28px;
    margin-left: 10px;
    a.go-first {
      display: inline-block;
      color: #fff;
      font-size: 2.8em;
      letter-spacing: .05em;    
    }
    a.go-first:hover {
      border-bottom: none;
      color: $orange;
    }
  }
  ul {
    float: right;
    list-style: none;    
    margin-top: 15px;
    li {
      display: inline-block;
      margin-right: 55px;
      &:last-child {
        margin-right: 30px;
      }
      &.social {
        margin-right: 8px;
        &:last-child {
          margin-right: 20px;
        }
      }
      a {
        text-align: center;
        font-family: $header-font;
        font-weight: 500;
      }
    }
  }
  a {
    position: relative;
    top: 0;
    margin: 0;
    padding-bottom: 3px;
    font-weight: normal;
    font-size: 2.4em;
    text-align: center;
    background-color: #4a4a4a;
    color: #fff;
    &.active {
      top: -4px;
      background-color: #69C773;
      color: $white;
    }
    &:hover {
      color: $orange;
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
  }
}

#lang-toggle {
  position: fixed;
  top: 90px;
  left: 30px;
  z-index: 100;
  li {
    list-style: none;
    display: inline-block;
  }
  li:last-child {
    list-style: disc;
    list-style-position: inside;
    // margin-left: 10px;
  }
  a, p {
    text-decoration: none;
    font-family: $body-font;
    font-weight: 300;
    font-size: 1.8em;
    color: $lightgray;
  }
  a:hover {
    color: $gray;
  }
}

nav.margin-circles {
  position: fixed;
  z-index: 100;
  top: 215px;
  left: 30px;
  ul {
    list-style-type: none;
  }
  li {
    width: 25px;
    height: 25px;
    margin-top: 25px;
    background-image: url('../assets/png/oval_25_blank.png');
    background-size: 25px;
    background-repeat: no-repeat;    
  }
  li:first-child {
    background-image: url('../assets/png/oval_25_filled.png');
  }
}

.hidden {
  display: none;
}

.vis-hidden {
  visibility: hidden;
}

.slides-container {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  background-color: #FFFFFF;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .centered {
    width: 80%;
    margin: 0 auto;
    position: relative;
    left: 30px;
    
    h1, h2, h3, h4 {
      text-align: center;
    }

    p {
      text-align: center;
      margin-top: 20px;
    
      em {
        font-weight: 600;
        font-style: italic;
      }

      &.be-sure {
        margin-top: 65px;
      }

      &.check-it {
        margin-top: 70px;
        width: 50%;
      }

      &.view-sample {
        margin-top: 20px;
      }      
    }
    
    .title {
      font-style: italic;
      font-weight: 300;
    }    
  }
}

.slide .centered {
}

/* Navigation Arrow */

.go-prev, .go-next, .go-first, .button.search {
  cursor: pointer;
}

.go-next {
  &.bottom-arrow {
    position: absolute;
    width: 125px;
    margin: 0 auto;
    margin-left: -34.5px;
    left: 50%;
    bottom: 100px;
  }
  h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3.5em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
  }
  .arrow {
    position: relative;
    top: 10px;
    height: 28px;
    width: 76px;
    margin: 0 auto;    
    background-image: url('../assets/png/chevron.png');
    background-repeat: no-repeat;
  }
  h2:hover, .arrow:hover {
    color: green;
  }
} 

/* User address entry form */ 

#address-form {
  position: relative;
  margin-top: 10px;
  width: 1000px;
  font-family: $body-font;
  font-size: 3em;
  input.address-input {
    width: 465px;
    height: 70px;
    border: none;
    background-image: url('../assets/png/address-enter-line.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-left: 10px;
    text-transform: capitalize;
    font-weight: 300;
    color: $medgray;
  }
  div.user-data {
    position: relative;
    display: inline-block;
    max-width: 500px;   
    margin-top: 10px; 
    color: $medgray;

    &.borough-select.active {
      ul.drop-down {
        opacity: 1;
        pointer-events: auto;
      }
      &:after {
      // do to: change direction of arrow to point up
      }      
    }

    &.borough-select {
      z-index: 100;
      position: relative;
      width: 400px;
      padding: 10px;      
      margin-left: 100px;      
      cursor: pointer;
      border: 3px solid $medgray;

      span {
        font-weight: 300;
      }

      /* triangle */
      &:after {
        content: "";
        width: 35px;
        height: 20px;
        position: absolute;
        right: 20px;
        top: 45%;
        margin-top: -1px;
        background-image: url('../assets/png/drop-down-triangle.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }
      ul.drop-down {        
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        opacity: 0;
        background: $white;
        pointer-events: none;       
      }
      li {        
        list-style: none;
        display: block;        
      }
      li a {        
        text-decoration: none;
        font-weight: 300;
        color: $medgray;
        padding: 5px 10px;
        display: block;
        span.value {
          display: none;
        }
      }
      li a:hover {
        background: $gray;
        color: $white;
      }
    }
  }
}

label.address-form {
  margin-top: 20px;
  font-size: 2.5em;
  font-weight: 600;
}

p#boroughs {
  color: #4a4a4a;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 0;
}

#boroughs input[type="radio"] {
  display: inline-block;
  position: relative;
  top: 7px;
  margin: 0;
  padding: 0;
  line-height: normal;
}

ul.validation-error {
  li {
    display: inline-block;
    position: relative;
    max-width: 465px;
    padding: 10px;
    border: 3px solid $white;
    margin-top: 5px;
    color: $white;
    font-size: 0.7em;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    list-style: none;
    background-color: $valError;

    &:last-child {
      margin-left: 100px;
      top: -34px;
      padding-right: 58px;
    }
  }
  
  &.not-found {
    max-width: 900px;
    margin: 0 auto;

    li {
      top: 0;
      text-align: center;
      margin-left: 78px;
      max-width: 900px;
      padding: 10px;
    }
  }  
} 

.slide .centered {
  .button {
    display: inline-block;
    position: relative;
    width: 170px;
    margin: 0 auto;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    background-color: $orange;
    padding: 10px 20px;
    border-radius: 35px;
    &:hover {
      background-color: $darkorange;
    }
    a {
      color: $white;
    }
    &.search {
      display: block;
      margin-top: 50px;
      left: 15px;
    }
    &.start-over {
      width: 230px;
    }
    &.learn-more {
      width: 240px;
      margin-left: 50px;
    }
  }
  .button-holder {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

#map {
  position: relative;
  left: 0;
  margin: 0 auto;
  margin-top: 30px;
  width: 550px;
  height: 300px;
  border: 1px solid #999;
  &:hover {
    cursor: default;
  }
}

.dhcr-choice {
  position: relative;  
  max-width: 1000px;
  max-height: 120px;
  margin: 0 auto;
  margin-top: 50px;
  
  -webkit-columns: 200px 3;
     -moz-columns: 200px 3;
          columns: 200px 3;

  -webkit-column-gap: 0;  
  -moz-column-gap: 0;
          column-gap: 0;

  -webkit-column-rule: 1px solid $lightgray;
  -moz-column-rule: 1px solid $lightgray;
          column-rule: 1px solid $lightgray;          
  p {
    max-width: 200px;
    height: 110px;    
  }
}

#slide-8 .action-choice {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;

  -webkit-columns: 350px 2;
     -moz-columns: 350px 2;
          columns: 350px 2;

  -webkit-column-gap: 10px;  
  -moz-column-gap: 10px;
          column-gap: 10px;

  -webkit-column-rule: 1px solid $lightgray;
  -moz-column-rule: 1px solid $lightgray;
          column-rule: 1px solid $lightgray;
  p {
    max-width: 350px;
    height: 250px;
    margin-top: 20px;
    padding: 2px;
  }
  h4 {
    margin-top: 0;
    font-family: $header-font;
    font-size: 3.2em;
    font-weight: 700;
    text-align: center;
    color: $green;
  }
}

.slide {
  .share-box-end {
    display: block;
    position: relative;
    margin-top: 20px;
    text-align: center;
    p {
      display: inline;      
    }
  }
  // .twitter-like.social, .fb-share-button.social {
  //   display: inline-block;
  //   margin-right: 5px;
  // }
  .addthis_sharing_toolbox {
    margin: 0 auto;
    margin-top: 10px;
  }
}

input[placeholder] {
  color: $medgray !important;
  font-family: $body-font !important;
  font-weight: 300 !important;
}
input::-webkit-input-placeholder {
   color: $medgray !important;
   font-family: $body-font !important;
   font-weight: 300 !important;
}

input:-moz-placeholder { /* Firefox 18- */
   color: $medgray !important;
   font-family: $body-font !important;
   font-weight: 300  !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: $medgray !important;
   font-family: $body-font !important;
   font-weight: 300  !important;
}

input:-ms-input-placeholder {  
   color: $medgray !important;
   font-family: $body-font !important;
   font-weight: 300  !important;
}