// pallette
$gray: #4a4a4a;
$medgray: #9b9b9b;
$lightgray: #ababab;
$green: #417505;
$orange: #ffc462;
$darkorange: darken($orange, 20%); //#CE912D;
// links
$darkteal: #277159;
$bluegreen: #4cb9bb;
$bluegray: #427c97;

$purple: #7a5de8;
$lightblue: #9cddf0;
$blue: #45acff;
$valError: #d98c8c;
$white: #fff;

// fonts
$header-font: "museo-sans-rounded", "Arial Rounded MT Bold", "Helvetica Rounded",
  arial, sans-serif;
$body-font: "Oxygen", arial, "Helvetica Neue", helvetica, sans-serif;

// shared component dimensions
$nav-main-height: 60px;

// media query breakpoints
$width-sm: 460px;
$width-sm2: 768px; // should be 800 or 768 for tablet
$width-md: 980px;
$width-lg: 1100px; // not-used

$height-sm: 480px;
$height-md: 770px;
$height-lg: 900px; // not-used

// for detecting retina screens with media queries
$is-hidpi: "(-webkit-min-device-pixel-ratio: 1.5),
					(min--moz-device-pixel-ratio: 1.5),
					(-o-min-device-pixel-ratio: 3/2),
					(min-device-pixel-ratio: 1.5),
					(min-resolution: 1.5dppx)";
