.lang-toggle {
  position: fixed;
  display: inline-block;
  top: 90px;
  left: 30px;
  z-index: 11;

  &.mobile {
    display: none;
  }
  
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;
  }
  li:last-child {
    list-style: disc;
    list-style-position: inside;
    // margin-left: 10px;
  }
  a, p {
    text-decoration: none;
    font-family: $body-font;
    font-weight: 300;
    font-size: 1.8em;
    color: $lightgray;
  }
  a:hover {
    color: $gray;
  }

  #left & {
    top: 80px;
    left: 30px;
  }

  // @include responsive_height(medium-screens) {

  // }

  @include responsive(medium-screens) {
    &.desktop, #left & {
      li {
        display: block;
        &:nth-child(2) {
          display: none;
        }
      }
    }

    li {
      display: inline-block;
      &:nth-child(2) {
        display: inline-block;
      }
    }

    #left & {
      position: relative;
      top: 45px;
      left: 20px;
    }

  }

  @include responsive(small-screens) {
    font-size: 0.8em;
  
    &.desktop {
      display: none;
    }

    &.mobile {
      display: inline-block;
    }

    #left & {
      position: relative;
      top: 45px;
      left: 20px;
    }

    #slide-1 & {
      position: absolute;
      top: 20px;
      left: 20px;    
      line-height: 2.5em;

      li {
        display: block;

        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  @include responsive_mobile_landscape() {
    position: relative;
    top: 0;
    left: 0;

    #left & {
      position: relative;
      top: 45px;
      left: 20px;      

      li {
        list-style: none;
        display: inline-block;

        &:nth-child(2) {
          display: inline-block;
        }
        &:last-child {
          list-style: disc;
          list-style-position: inside;
        }        
      }
    }    
  }
}
