@use "../abstracts/" as *;

$input-border-width: 3px;

// AddressSearchForm styles
#address-form {
  position: relative;
  width: 100%;
  font-size: var(--fs-base);

  div.user-data.street-address {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 16px;
  }

  label {
    flex-grow: 1;
  }

  input.address-input {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 75%;
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    border: $input-border-width solid $gray;
    padding: 0 4px;

    &:focus-visible {
      @include focus-indicator(true);
      outline-offset: 0;
    }

    &.invalid {
      border: $input-border-width dashed $valError;
    }

    &.valid {
      border: $input-border-width solid lighten($bluegreen, 10%);
    }
  }
}
