@use "sass:map";
@use "../abstracts/" as *;

// <button> styles
.button {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  min-width: 44px;
  min-height: 44px;
  font-size: var(--fs-sm);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: $letter-spacing;
  border: 1px solid transparent; // for supporting forced-colors mode
  color: $white;
  cursor: pointer;

  &:focus-visible {
    @include focus-indicator(true);
  }

  @include responsive(small-screens) {
    // increase font size a bit on super narrow viewports
    font-size: var(--fs-base);
  }

  // orange rounded buttons
  &--primary {
    @extend .button;
    min-width: 170px;
    background-color: $darkorange;
    margin: 0 auto;
    padding: map.get($spacing, "sm") map.get($spacing, "med2");
    border-radius: 35px;

    &:hover {
      background-color: $orange;
    }
  }

  // the "Next" buttons with the downward facing chevron icon
  &--go-next {
    @extend .button;
    color: $darkorange;
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, "sm");

    &:hover {
      color: $orange;
    }

    // chevron icon
    .arrow {
      height: 28px;
      width: 76px;
      margin: 0 auto;
      background-image: url("../../../public/assets/png/chevron.png");
      background-repeat: no-repeat;

      @include responsive(small-screens) {
        width: 32px;
        height: 11px;
        background-image: url("../../../public/assets/png/chevron-sm.png");
      }
    }
  }
}
