// responsive container via CSS aspect-ratio
// useful for media that needs to scale to its container, e.g. iframe, video, image, etc.
[style*="--aspect-ratio"] {
  aspect-ratio: var(--aspect-ratio);
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}

[style*="--aspect-ratio"] > img {
  height: auto;
}
