@use "sass:map";
@use "../abstracts/" as *;

// sample rent history modal
a.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;

  img {
    display: none;
    position: relative;
    max-height: 680px;
    max-width: 530px;
    margin-top: calc($nav-main-height + #{map.get($spacing, "med")});
  }

  &:target {
    opacity: 1;
    pointer-events: auto;
    display: block;
    z-index: $z-index-mid;
  }

  &:target img {
    display: block;
  }

  @include responsive(tablet-screens) {
    img {
      left: 0;
      margin-top: 20%;
    }
  }

  @include responsive(small-screens) {
    img {
      width: 90%;
      left: 0;
    }
  }
}
