@use "sass:map";
@use "../abstracts/" as *;

$map-width-default: 550px;
$map-height-default: 48vh;
$map-popup-max-width: 275px;

#map {
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, "base");
  position: relative;
  margin: 0 auto;
  max-width: $map-width-default;
  max-height: $map-height-default;

  svg {
    border: 3px solid $medgray;
  }

  p {
    font-size: var(--fs-sm);
  }

  .map-pop-up {
    position: absolute;
    max-width: $map-popup-max-width;
    top: 0;
    left: 0;

    &.hidden {
      opacity: 0;
    }

    .map-pop-up--content {
      background-color: #fff;
      border-radius: 6px;
      padding: map.get($spacing, "xs");
      box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    }

    .map-pop-up--content p {
      width: 100%;
      max-width: 100%;
      font-size: 1.6em;
      text-align: center;
      margin: 0;
    }

    .map-pop-up--arrow-container {
      position: absolute;
      width: 40px;
      height: 20px;
      left: 50%;
      margin-left: -20px;
      overflow: hidden;
      pointer-events: none;
    }

    .map-pop-up--arrow {
      background-color: #fff;
      box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
      width: 17px;
      height: 17px;
      padding: 1px;
      margin: -10px auto 0;
      transform: rotate(45deg);
    }

    @include responsive(small-screens) {
      .map-pop-up--content p {
        font-size: 12px;
      }
    }
  }
}
