@use "sass:map";
@use "../abstracts/" as *;

.search-validation-errors {
  margin-top: map.get($spacing, "sm");
  min-height: 125px;

  p {
    margin: map.get($spacing, "sm") auto;
    text-align: center;
    padding: map.get($spacing, "sm");
    color: map.get($palette, "white");
    font-size: var(--fs-sm);
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    background-color: map.get($palette, "red");
    border-radius: map.get($border-radius, "md");

    @include responsive(small-screens) {
      font-size: var(--fs-base);
    }
  }
}
