html { 
    font-size: 10px; 
} 

html, body, div, p {
    margin: 0;
    padding: 0;
}

body {
    width: 960px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    letter-spacing: 0.0625em;
    font-size: 62.5%; /* so that 1em = 10px */
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */    
}

div {
    border: 1px solid green;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 18em;
    line-height: 1em;
}

h2 {
    font-size: 15em;
}

h3 {
    font-size: 10em;
    line-height: 1em;
}

h4 {
    font-size: 8em;
}

a {
    text-decoration: none;
}

img {
    display: block;
    margin: 2% auto;
}

button {
    padding: 0 5px;
    font-weight: 600;
}

span.orange {
    font-weight: 600;
    color: orange;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 30px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    position: relative;
    top: 0;
    padding: 10px 20px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #83C78E;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

nav a.active {
    top: -4px;
    background-color: #69C773;
    color: #FFFFFF;
    -webkit-box-shadow: 0 4px 0 0 #51a65f;
    -moz-box-shadow: 0 4px 0 0 #51a65f;
    box-shadow: 0 4px 0 0 #51a65f;
}

.hidden {
    display: none;
}

.slides-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    background-color: rgb(247, 249, 254);
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide .centered {
    width: 60%;
    margin: 0 auto;
}

.slide .centered h1, .slide .centered h3,
.slide .centered h4 {
    text-align: center;
}

.slide .centered h3.go {    
    margin-bottom: 5%;
}

.slide .centered h3.go .arrow-2 {
    font-size: 1.5em;
    line-height: 1.1em;
    text-decoration: none;
}
.slide .centered p {
    text-align: center;
    margin-top: 20px;
    font-size: 4em;
}

.slide .centered p.arrow {
    font-size: 12em;
}

.slide .centered .spinner {
    position: relative;
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 0 auto;
}

#address-form {
    margin-top: 50px;
}

#address-form input, #address-form select, #address-form button {
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    font-size: 3em;
}

#address-form input {
    width: 100%;
    height: 30px;
    font-size: 3em; 
    padding-left: .2em;
}

#address-form select option {
    font-size: 3em;
}

.go-prev, .go-next, .go-first {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

#map {
    width: 450px;
    height: 450px;
}
