* {
  box-sizing: border-box;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: hsl(0,0%,97%);
/*  background: url('../img/bk-rent-stabilized-reg-vs-likely.jpg');
  background-repeat: no-repeat;
  background-size: 100%;*/
}

.clearfix {
  overflow: auto;
  zoom: 1; /* IE 6 */
}

.hidden {
  display: none;
}

#wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  height: inherit;
}

a {
  text-decoration: none;
  color: hsl(300,100%,50%);
  font-weight: 600;
  padding: 0 1%;
  transition: all 0.5s linear;
  border-radius: 10px;
}

a:hover {
  background-color: hsl(300,100%,50%);
  color:#000;
}

section {
  margin: 0;
  padding: 0;
  background: #000;
  border: 1px solid orange;
  color: white;
}

section h1 {
  margin: 0;
  margin-top: 10%;  
  font-size: 20em;
  text-align: center;
}

section h3 {
  margin: 0 8%;
  margin-top: 3%;
  font-size: 12em;
  font-weight: 400;
  text-align: center;
}

section p {
  margin: 5% 10%;
  font-size: 10em;
  font-weight: 300;
}

section p strong {
  font-weight: 600;
  letter-spacing: 1%;
}

section p.callout {
  position: absolute;
  margin: 0;
  padding: 0  ;
  font-style: italic;
  transform: rotate(-45deg); 
  transform-origin: 90% 140%;
}

section p.small {
  font-size: 6em;
  margin-top: 10%;
}

#gif {
  top: 15%;
  width: 400px;
  height: 400px;
  padding: 0;
  margin: 0 auto;
}

.center {
  text-align: center;
}

p.arrow, p.arrow a {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  color: #FFF;
  left: 48%;
  font-size: 3em;
}

p.arrow a:hover {
  background-color: #000;
  color: hsl(300, 100%, 50%);
}

.box {
  top: 10%;
  width: 60%;
  margin: 0 auto;
}

.box button {
  display: block;
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
}

.address-box {
  margin: 5% auto; 
}

.address-box input[type=text] {
  padding: 5px;
  transition: box-shadow 0.3s, border 0.3s;
  width: 100%;
  font-size: 5em;     
  color: #000;
}

.address-box input[type="text"]:focus {
  outline: none;
}

.address-box input[type="text"]:focus,
.address-box input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.select-box{
  left: 22%;
   margin: 0 auto;
   width: 100%;
}

select {
   border: 1px solid hsl(0,0%,60%);
   font-size: 5em;
   color: hsl(0,0%,40%);
   padding: .5em;
   transition: box-shadow 0.3s, border 0.3s;
}

select:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#submit  {
  display: inline-block;
  left: 42%;
  margin-top: 5%;
  cursor: pointer;
  padding: 1%;
  font-size: 5em;
  color: hsl(0,0%,40%);
  background-color: hsl(0,0%,80%);
  border: 1px solid #000;
  transition: box-shadow 0.3s, border 0.3s;
}

#submit:hover {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#submit:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
