@use "sass:map";
@use "sass:math";
@use "../abstracts/" as *;

$map-width-default: 550px;
$map-popup-max-width: 275px;
$map-aspect-ratio: math.div(16, 9);
$map-aspect-ratio-mobile: math.div(
  8,
  5
); // gives a bit more vertical space for popup
$pop-up-box-shadow: 0 3px 14px rgb(0 0 0 / 40%);

figure#map {
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, "base");

  .map-graphic-container {
    position: relative;
    margin: 0 auto;
  }

  svg {
    min-width: min(calc(100vw - 24px), $map-width-default);
    aspect-ratio: $map-aspect-ratio;
    border: 2px solid map.get($palette, "medium-grey");

    @include responsive(small-screens) {
      aspect-ratio: $map-aspect-ratio-mobile;
    }
  }

  p {
    font-size: var(--fs-sm);
  }

  .map-pop-up {
    position: absolute;
    max-width: $map-popup-max-width;
    top: 0;
    left: 0;

    .map-pop-up--content {
      background-color: #fff;
      border-radius: map.get($border-radius, "sm");
      padding: map.get($spacing, "xs");
      box-shadow: $pop-up-box-shadow;
    }

    .map-pop-up--content p {
      width: 100%;
      max-width: 100%;
      font-size: map.get($fs, "sm");
      text-align: center;
      margin: 0;
    }

    .map-pop-up--arrow-container {
      position: absolute;
      width: 40px;
      height: 20px;
      left: 50%;
      margin-left: -20px;
      overflow: hidden;
      pointer-events: none;
    }

    .map-pop-up--arrow {
      background-color: #fff;
      box-shadow: $pop-up-box-shadow;
      width: 17px;
      height: 17px;
      padding: 1px;
      margin: -10px auto 0;
      transform: rotate(45deg);
    }

    @include responsive(small-screens) {
      .map-pop-up--content p {
        font-size: map.get($fs, "mobile-base");
      }
    }
  }
}
