@use "sass:map";
@use "../abstracts/" as *;

.modal--tenants-rights {
  max-width: 650px;

  h2,
  h3,
  p {
    text-align: left;
    margin-block: 0 0.65em;
  }

  .tr-org-info {
    margin-block-start: map.get($spacing, "lg");

    &:last-of-type {
      margin-block-end: map.get($spacing, "lg");
    }
  }
}
