@use "sass:map";
@use "../abstracts/" as *;

nav.side-nav {
  h2,
  li,
  a {
    font-size: var(--fs-sm);
    text-align: left;

    @include responsive(small-screens) {
      font-size: var(--fs-base);
    }
  }

  h2 {
    margin-block: 0 0.65em;
  }

  a[href] {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: map.get($spacing, "sm");
  }

  li {
    min-width: 120px;
    margin-block: 0;
  }

  // hide the sidebar navigation on smaller viewports since it takes up too much vertical space when stacking
  @include responsive(small-screens) {
    display: none;
  }

  @include responsive_mobile_landscape {
    display: none;
  }
}
