// AddressSearchForm styles
#address-form {
  position: relative;
  margin-top: 24px;
  width: 100%;
  font-size: 2.5em;

  div.user-data.street-address {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  label {
    padding-right: 12px;
  }

  input.address-input {
    width: 400px;
    height: 50px;
    display: block;
    border: none;
    background: {
      image: url("../../public/assets/png/address-enter-line.png");
      repeat: no-repeat;
      position: center 90%;
    }

    &.invalid {
      border: 3px dashed $valError;
    }

    &.valid {
      border: 3px solid lighten($bluegreen, 10%);
    }

    &:focus {
      border: none;
      box-shadow: 0 0 3px 2px $blue;
    }
  }

  button.submit {
    display: block;
    width: 150px;
    margin: 0 auto;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.625px;
  }

  @include responsive_height(medium-screens) {
    width: 100%;
    height: 230px;

    input {
      &.address-input {
        height: 60px;
        font-size: 16px;
      }
    }

    div.user-data {
      font-size: 0.9em;
      height: 60px;
      margin: 0 auto;
      display: block;
    }
  }

  @include responsive(medium-screens) {
    input {
      &.address-input {
        height: 60px;
      }
    }

    div.user-data {
      font-size: 0.9em;
      height: 60px;
      margin: 0 auto;
      display: block;
      top: 0;
    }
  }

  @include responsive(small-screens) {
    height: 204px;

    div.user-data {
      flex-direction: column;
      justify-content: initial;
      width: 240px;
      top: 0;
      font-size: 0.6em;
    }

    input {
      &.address-input {
        width: 240px;
        height: 50px;
        margin-top: 3px;
      }
    }
  }
} // end address form
