// AddressSearchForm styles
#address-form {
  position: relative;
  margin-top: 24px;
  width: 100%;
  font-size: 2.5em;

  div.user-data.street-address {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  label {
    padding-right: 12px;
  }

  input.address-input {
    width: 400px;
    height: 50px;
    display: block;
    border: none;
    background: {
      image: url("../../public/assets/png/address-enter-line.png");
      repeat: no-repeat;
      position: center 90%;
    }

    &.es {
      font-size: 0.75em;
    }

    &.invalid {
      border: 3px dashed $valError;
    }

    &.valid {
      border: 3px solid lighten($bluegreen, 10%);
    }

    &:focus {
      border: none;
      box-shadow: 0 0 3px 2px $blue;
    }
  }

  button.submit {
    display: block;
    width: 150px;
    margin: 0 auto;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.625px;
  }

  @include responsive_height(medium-screens) {
    width: 100%;
    height: 230px;

    input {
      &.address-input {
        height: 60px;

        &.es {
          font-size: 0.85em;
        }
      }
    }

    div.user-data {
      font-size: 0.9em;
      height: 60px;
      margin: 0 auto;
      display: block;
    }
  }

  @include responsive(medium-screens) {
    input {
      &.address-input {
        height: 60px;
      }
    }

    div.user-data {
      font-size: 0.9em;
      height: 60px;
      margin: 0 auto;
      display: block;
      top: 0;
    }
  }

  @include responsive(small-screens) {
    height: 204px;

    div.user-data {
      flex-direction: column;
      justify-content: initial;
      width: 240px;
      top: 0;
      font-size: 0.6em;
    }

    input {
      &.address-input {
        width: 240px;
        height: 50px;
        margin-top: 3px;
      }
    }
  }
} // end address form

// Validation Errors
ul.validation-error {
  padding: 0;
  margin-top: 5px;

  li {
    display: inline-block;
    position: relative;
    padding: 10px;
    margin-top: 10px;
    color: $white;
    font-size: 0.7em;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    list-style: none;
    background-color: $valError;

    &:last-child {
      margin-left: 105px;
      top: -20px;
      padding-right: 80px;
    }
  }

  #error-address {
    width: 370px;
    margin-left: 75px;
  }

  #error-not-found {
    max-width: 70%;
    display: block;
    top: 0;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }

  &.not-found {
    position: relative;
    left: -30px;
    margin: 0 auto;
    text-align: center;
  }

  @include responsive_height(medium-screens) {
    li {
      display: block;
      font-size: 0.7em;
      text-align: center;
      padding: 10px;
    }

    #error-not-found {
      margin: 0 auto;
      font-size: 0.7em;

      &.es {
        font-size: 0.6em;
      }
    }

    #error-address {
      font-size: 0.7em;
      width: 475px;
      margin: 0 auto;
      margin-top: 10px;
      text-align: left;

      &.es {
        font-size: 0.6em;
      }
    }
  }

  @include responsive(tablet-screens) {
    #error-not-found {
      max-width: 80%;
      display: block;
      top: 0;
    }

    #error-address {
      width: 400px;
      display: block;
      top: 0;
      margin: 0 auto;
      margin-top: 25px;
      font-size: 0.8em;
      text-align: center;
      padding: 10px;
    }
  }

  @include responsive(small-screens) {
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
    padding: 2px;

    li {
      &#error-address {
        width: 200px;
        top: 0;
        padding: inherit;
        margin: 0 auto;
        margin-top: 5px;
        text-align: center;
        display: block;
        font-size: 0.5em;
        float: none;
      }

      &#error-not-found {
        top: 0;
        max-width: inherit;
        width: 250px;
        margin: 0 auto;
        padding: inherit;
        display: block;
        text-align: center;
        font-size: 0.5em;
      }
    }
  }
}
