@use "variables" as *;
@import "~normalize.css";

// base styles for all pages

// Fluid type scale
// Credit: https://www.fluid-type-scale.com/calculate?minFontSize=18&minWidth=375&minRatio=1.25&maxFontSize=48&maxWidth=1280&maxRatio=1.333&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=fs&useContainerWidth=true&includeFallbacks=true&useRems=true&remValue=16&decimals=3&previewFont=Oxygen&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1280
// TODO: not all font sizes are being used here, so remove unused ones
:root {
  --fs-sm: clamp(0.9rem, 2.388cqi + 0.34rem, 2.251rem);
  --fs-base: clamp(1.125rem, 3.315cqi + 0.348rem, 3rem);
  --fs-md: clamp(1.406rem, 4.584cqi + 0.332rem, 3.999rem);
  --fs-lg: clamp(1.758rem, 6.317cqi + 0.277rem, 5.331rem);
  --fs-xl: clamp(2.197rem, 8.678cqi + 0.163rem, 7.106rem);
  --fs-xxl: clamp(2.747rem, 11.89cqi + -0.04rem, 9.472rem);
  --fs-xxxl: clamp(3.433rem, 16.253cqi + -0.376rem, 12.626rem);
}

// Fallback font sizes for browsers that don't support CSS clamp and/or container query units
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  // NOTE: these font sizes were manually adjusted and assume 1rem == 10px
  // This should probably be changed in the future to support WCAG SC Re-size Text
  :root {
    --fs-sm: 1.4rem;
    --fs-base: 1.8rem;
    --fs-md: 2rem;
    --fs-lg: 2.25rem;
    --fs-xl: 2.5rem;
    --fs-xxl: 3rem;
    --fs-xxxl: 3.4rem;
  }
  @media screen and (min-width: 1280px) {
    :root {
      --fs-sm: 2.251rem;
      --fs-base: 3rem;
      --fs-md: 3.999rem;
      --fs-lg: 5.331rem;
      --fs-xl: 7.106rem;
      --fs-xxl: 9.472rem;
      --fs-xxxl: 12.626rem;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  // meets 3:1 contrast for WCAG when over a white background
  outline: 3px solid darken($blue, 10);
  box-shadow: 0 0 0 6px white;
}

html {
  font-size: 62.5%;

  &[lang="en"] {
    font-size: 62.5%;
  }

  &[lang="es"],
  &[lang="zh"] {
    font-size: 50%;
  }
}

body {
  color: $gray;
  background-color: $white;

  font: {
    family: $body-font;
    weight: 400;
  }
}

:where(h1),
:where(h2),
:where(h3) {
  font-family: $header-font;
  font-weight: 700;
  line-height: $heading-text-line-height;
  letter-spacing: $letter-spacing;
  text-wrap: balance;
  max-width: $heading-text-max-width;
}

:where(p) {
  font-size: 2.2em;
  color: $green;
  max-width: $normal-text-max-width;
  line-height: $normal-text-line-height;

  // TODO: rm in favor of heading margin-block-end?
  &:first-of-type {
    margin-block-start: 1em;
  }

  &:not(:last-of-type) {
    margin-block-end: 1em;
  }
}

:where(a[href]) {
  text-decoration: underline;
  color: darken($bluegreen, 17);
  text-decoration-thickness: 0.125em;
  text-underline-offset: 2.5px;

  &:hover {
    color: $lightblue;
  }
}

:where([role="list"]) {
  margin-block: 0;
  padding: 0;
  list-style: none;
}

:where(li) {
  max-width: $normal-text-max-width;
  line-height: $normal-text-line-height;
  text-wrap: balance;
}

:where(img) {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
}
