@use "variables" as *;
@import "~normalize.css";

// base styles for all pages
:root {
  /* code credit: https://www.fluid-type-scale.com/calculate?minFontSize=18&minWidth=375&minRatio=1.25&maxFontSize=48&maxWidth=1280&maxRatio=1.333&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=fs&useContainerWidth=true&includeFallbacks=false&useRems=true&remValue=16&decimals=3&previewFont=Oxygen&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1280 */
  --fs-sm: clamp(1.1rem, 2.034cqi + 0.623rem, 2.251rem);
  --fs-base: clamp(1.375rem, 2.873cqi + 0.702rem, 3rem);
  --fs-md: clamp(1.719rem, 4.031cqi + 0.774rem, 3.999rem);
  --fs-lg: clamp(2.148rem, 5.626cqi + 0.83rem, 5.331rem);
  --fs-xl: clamp(2.686rem, 7.815cqi + 0.854rem, 7.106rem);
  --fs-xxl: clamp(3.357rem, 10.811cqi + 0.823rem, 9.472rem);
  --fs-xxxl: clamp(4.196rem, 14.904cqi + 0.703rem, 12.626rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  // meets 3:1 contrast for WCAG when over a white background
  outline: 3px solid darken($blue, 10);
  box-shadow: 0 0 0 6px white;
}

html {
  font-size: 62.5%;

  &[lang="en"] {
    font-size: 62.5%;
  }

  &[lang="es"],
  &[lang="zh"] {
    font-size: 50%;
  }
}

body {
  color: $gray;
  background-color: $white;

  font: {
    family: $body-font;
    weight: 400;
  }
}

:where(h1),
:where(h2),
:where(h3) {
  font-family: $header-font;
  font-weight: 700;
  line-height: $heading-text-line-height;
  letter-spacing: $letter-spacing;
  text-wrap: balance;
  max-width: $heading-text-max-width;
}

:where(p) {
  font-size: 2.2em;
  color: $green;
  max-width: $normal-text-max-width;
  line-height: $normal-text-line-height;

  // TODO: rm in favor of heading margin-block-end?
  &:first-of-type {
    margin-block-start: 1em;
  }

  &:not(:last-of-type) {
    margin-block-end: 1em;
  }
}

:where(a[href]) {
  text-decoration: underline;
  color: darken($bluegreen, 17);
  text-decoration-thickness: 0.125em;
  text-underline-offset: 2.5px;

  &:hover {
    color: $lightblue;
  }
}

:where([role="list"]) {
  margin-block: 0;
  padding: 0;
  list-style: none;
}

:where(li) {
  max-width: $normal-text-max-width;
  line-height: $normal-text-line-height;
  text-wrap: balance;
}

:where(img) {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
}
