@use "variables" as *;
@import "~normalize.css";

// base styles for all pages
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  // meets 3:1 contrast for WCAG when over a white background
  outline: 3px solid darken($blue, 10);
  box-shadow: 0 0 0 6px white;
}

html {
  font-size: 62.5%;

  &[lang="en"] {
    font-size: 62.5%;
  }

  &[lang="es"],
  &[lang="zh"] {
    font-size: 50%;
  }
}

body {
  color: $gray;
  background-color: $white;

  font: {
    family: $body-font;
    weight: 400;
  }
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: $heading-text-line-height;
  text-wrap: balance;
  max-width: $heading-text-max-width;
}

h3 {
  font-size: 4em;
}

p {
  font-size: 2.2em;
  color: $green;
  max-width: $normal-text-max-width;
  line-height: $normal-text-line-height;

  // TODO: rm in favor of heading margin-block-end?
  &:first-of-type {
    margin-block-start: 1em;
  }

  &:not(:last-of-type) {
    margin-block-end: 1em;
  }
}

a {
  text-decoration: underline;
  font-weight: 600;
  color: darken($bluegreen, 17);

  &:hover {
    color: $lightblue;
  }
}

li {
  max-width: $normal-text-max-width;
  line-height: $normal-text-line-height;
  text-wrap: balance;
}

img {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
}
