@use "variables" as *;
@use "mixins" as *;

// Primary <button> styles
.button {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  min-width: 170px;
  min-height: 44px;
  margin: 0 auto;
  font-size: var(--fs-sm);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: $letter-spacing;
  background-color: $darkorange;
  padding: 12px 18px;
  border: 1px solid transparent;
  border-radius: 35px;
  color: $white;
  cursor: pointer;

  @include responsive(small-screens) {
    font-size: var(--fs-base);
  }

  &:hover {
    background-color: $orange;
  }

  // the "Next" buttons with the downward facing chevron icon
  &--go-next {
    @extend .button;
    min-width: 44px;
    padding: 0;
    color: $darkorange;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &:hover {
      color: $orange;
      background-color: transparent;
    }

    // chevron icon
    .arrow {
      height: 28px;
      width: 76px;
      margin: 0 auto;
      background-image: url("../../public/assets/png/chevron.png");
      background-repeat: no-repeat;

      @include responsive(small-screens) {
        width: 32px;
        height: 11px;
        background-image: url("../../public/assets/png/chevron-sm.png");
      }
    }
  }
}
