.button {
  @include button;
  font-size: 2em;

  &:hover {
    background-color: $orange;
  }

  a {
    color: $white;
  }

  &.search {
    position: absolute;
    display: block;
    width: 150px;
    left: 50%;
    bottom: 5%;
    margin-left: -75px;
  }

  &.start-over {
    min-width: 200px;
    width: auto;
  }

  &.learn-more {
    width: 200px;
    margin-left: 50px;
  }

  &.rent-logic {
    width: auto;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    margin: 10px auto;
    background-color: #46b9bc;
  }

  @include responsive_height(medium-screens) {
    width: 180px;
    font-size: 1.8em;
    padding: 8px 12px;

    &.search {
      width: 125px;
      margin-left: -62.5px;
    }

    &.start-over {
      min-width: 200px;
      // width: 200px;
    }

    &.learn-more {
      // width: 200px;
    }

    &.rent-logic {
      width: auto;
      text-align: center;
      display: inline-block;
      white-space: nowrap;
      margin: 10px auto;
      background-color: #46b9bc;
    }
  }

  @include responsive(medium-screens) {
    width: 160px;
    font-size: 1.8em;
    padding: 8px 12px;

    &.search {
      width: 125px;
      margin-left: -62.5px;
    }
  }

  @include responsive(small-screens) {
    // margin: 0 auto;
    width: 110px;
    font-size: 1.3em;
    padding: 8px 12px;

    &.search {
      width: 110px;
      margin-left: -55px;
      // width: 110px;
    }

    &.start-over {
      min-width: 200px;
      width: 120px;
    }

    &.learn-more {
      width: 125px;
      margin-top: 10px;
      margin-left: 10px;
    }

    &.rent-logic {
      width: auto;
      text-align: center;
      display: inline-block;
      white-space: nowrap;
      margin: 10px auto;
      background-color: #46b9bc;
    }
  }
}

.button-holder {
  width: 100%;
  text-align: center;
  margin-top: 30px;

  @include responsive(small-screens) {
    margin-top: 10px;
  }
}
