@use "variables" as *;
@use "mixins" as *;

:root {
  /* code credit: https://www.fluid-type-scale.com/calculate?minFontSize=18&minWidth=375&minRatio=1.25&maxFontSize=48&maxWidth=1280&maxRatio=1.333&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=fs&useContainerWidth=true&includeFallbacks=false&useRems=true&remValue=16&decimals=3&previewFont=Oxygen&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1280 */
  --fs-sm: clamp(1.1rem, 2.034cqi + 0.623rem, 2.251rem);
  --fs-base: clamp(1.375rem, 2.873cqi + 0.702rem, 3rem);
  --fs-md: clamp(1.719rem, 4.031cqi + 0.774rem, 3.999rem);
  --fs-lg: clamp(2.148rem, 5.626cqi + 0.83rem, 5.331rem);
  --fs-xl: clamp(2.686rem, 7.815cqi + 0.854rem, 7.106rem);
  --fs-xxl: clamp(3.357rem, 10.811cqi + 0.823rem, 9.472rem);
  --fs-xxxl: clamp(4.196rem, 14.904cqi + 0.703rem, 12.626rem);
}

// TODO: fix rent-history
#rent-history {
  display: none;
}

// TODO: fix mobile nav
.mobile {
  display: none;
}

// TODO: fix progress indicators
#progress-indicator {
  display: none;
}

.slides {
  container-type: inline-size;
  position: fixed;
  inset: $nav-main-height 0 0 0;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 10;
}

.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 24px;

  @include responsive_height(medium-screens) {
    justify-content: space-between;
    padding: 12px;
  }

  h1,
  h2,
  h3,
  p {
    margin-inline: auto;
    margin-block: 0;
    text-wrap: balance;
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3 {
    line-height: 1.2;

    @include responsive_height(medium-screens) {
      line-height: 1;
    }
  }

  h1,
  h2 {
    // font-size: 5.4rem;
    font-size: var(--fs-lg);
  }

  h3 {
    // font-size: 4rem;
    font-size: var(--fs-md);
  }

  h1 {
    font-style: italic;
    max-width: 35ch;
  }

  p {
    font-size: var(--fs-sm);
  }
}

.centered {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5lh;
}

.v-centered {
  height: 100%;
  justify-content: center;
}

p.sub-head {
  color: darken($lightgray, 21);
  // font-size: 2.8rem;
  font-size: var(--fs-md);
  font-style: italic;
  font-weight: 700;
}

img.triple-s {
  height: clamp(38px, 8cqi, 47.5px);
  margin-block-end: 12px;
}

img.building {
  height: clamp(100px, 20cqi, 135px);
}

img.mascot {
  height: clamp(160px, 25cqi, 320px);
}

// TODO: reuse button mixin or @extend base button styles?
button.go-next {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .arrow {
    height: 28px;
    width: 76px;
    margin: 0 auto;
    background-image: url("../../public/assets/png/chevron.png");
    background-repeat: no-repeat;
  }
}

.button-text {
  color: $darkorange;
  font-weight: 700;
  // font-size: 3.5em;
  font-size: var(--fs-base);
  text-transform: uppercase;
  text-align: center;

  // .es & {
  //   font-size: 2.5em;
  // }

  &:hover {
    color: $orange;
  }
}

.button-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

button.start-over,
a[href].learn-more {
  @include button;
}
