@use "variables" as *;
@use "mixins" as *;

.lang-toggle {
  position: fixed;
  top: $nav-main-height;
  left: 8px;
  z-index: 100;

  aside.info-pages & {
    position: static;
  }

  .mobile & {
    display: none;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  li,
  .button[lang],
  p {
    line-height: 1;
  }

  li {
    margin-block-end: 0;
  }

  .button[lang],
  p {
    font-weight: 300;
    font-size: 1.6rem;
    color: $gray;
  }

  .button[lang] {
    min-width: 120px;
    text-align: start;
    padding: 0 16px;
    text-transform: none;

    &:hover {
      color: $lightgray;
    }
  }

  @include responsive(small-screens) {
    .desktop & {
      display: none;
    }

    .mobile & {
      display: block;
    }

    .button[lang] {
      min-height: 32px;
    }

    ul {
      flex-direction: row;
    }

    .button[lang] {
      padding-inline: 0;
    }
  }
}
