@use "variables" as *;
@use "mixins" as *;

aside.lang-toggle {
  position: fixed;
  display: inline-block;
  top: $nav-main-height;
  left: 8px;
  z-index: 100;

  .mobile & {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li,
  .button[lang],
  p {
    line-height: 1;
  }

  .button[lang],
  p {
    font-weight: 300;
    font-size: 1.6rem;
    color: $gray;
  }

  .button[lang] {
    padding: 0 16px;
    text-transform: none;

    &:hover {
      color: $lightgray;
    }
  }

  @include responsive(small-screens) {
    .desktop & {
      display: none;
    }

    .mobile & {
      display: inline-block;
    }

    ul {
      flex-direction: column;
      align-items: flex-start;
    }

    li:nth-child(2) {
      display: none;
    }

    .button[lang] {
      min-width: 120px;
      min-height: 32px;
      text-align: start;
    }
  }
}
