@use "variables" as *;
@use "mixins" as *;

.lang-toggle {
  position: fixed;
  display: inline-block;
  top: $nav-main-height;
  left: 8px;
  z-index: 100;

  .mobile & {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li,
  button,
  p {
    line-height: 1;
  }

  button,
  p {
    font-weight: 300;
    font-size: 1.4rem;
    color: $gray;
  }

  button {
    padding: 0 16px;

    &:hover {
      color: $lightgray;
    }
  }

  @include responsive(small-screens) {
    .desktop & {
      display: none;
    }

    .mobile & {
      display: inline-block;
      top: 60px;
      left: 0;
    }
  }
}
