#map {
  position: relative;
  left: 0;
  margin: 0 auto;
  margin-top: 30px;
  width: 550px;
  height: 300px;
  border: 3px solid $medgray;

  &:hover {
    cursor: default;
  }

  @include responsive_height(medium-screens) {
    margin-top: 2%;
    height: 275px;
  }

  @include responsive(small-screens) {
    width: 90%;
    height: 200px;
    margin-top: 3%;
  }
}

p.map-message {
  margin-top: 25px;

  @include responsive_height(medium-screens) {
    font-size: 1.5em;
    width: 85%;
    margin-top: 6px;
  }

  @include responsive(small-screens) {
    width: 90%;
    font-size: 1.3em;
    margin-top: 1%;
  }
}
