#mobile-message {
  display: none;

  @include responsive_mobile_landscape {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    img {
      position: relative;
      margin-top: 4%;
    }

    h1 {
      height: 40px;
      position: inherit;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
