/* Navigation Arrow */

.go-prev,
.go-next,
.go-first,
.button.search {
  cursor: pointer;
}

.go-next {
  &.bottom-arrow {
    position: absolute;
    width: 125px;
    margin: 0 auto;
    margin-left: -62.5px;
    left: 50%;
    bottom: 3%;

    &.es {
      width: 170px;
      margin-left: -85px;
    }
  }

  h3 {
    font-family: $body-font;
    color: $darkorange;
    font-weight: 700;
    font-size: 3.5em;
    text-transform: uppercase;
    text-align: center;

    .es & {
      font-size: 2.5em;
    }
  }

  .arrow {
    position: relative;
    top: 10px;
    height: 28px;
    width: 76px;
    margin: 0 auto;
    background-image: url("../../public/assets/png/chevron.png");
    background-repeat: no-repeat;
  }

  h3:hover,
  .arrow:hover {
    color: $orange;
  }

  @include responsive_height(medium-screens) {
    &.bottom-arrow {
      bottom: 3%;
      margin-left: -62.5px;
    }

    h3 {
      font-size: 2.5em;
    }
  }

  @include responsive(small-screens) {
    &.bottom-arrow {
      bottom: 5%;

      h3 {
        font-size: 1.6em;
      }

      .arrow {
        width: 32px;
        height: 11px;
        background-image: url("../../public/assets/png/chevron-sm.png");
      }
    }
  }
}
