// Top Navigation Bar
nav.main-nav {
  width: 100%;
  height: $nav-main-height;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $gray;
  z-index: 100;

  .home-container {
    display: flex;
    align-items: center;
    justify-self: start;
    gap: 1em;
    margin-top: 5px; // so that the building image appears to bleed into the white background under the navbar
  }

  .logo {
    height: 65px;
    display: inline;
    margin-left: 20px;
    padding: 5px;
  }

  a.go-first {
    display: inline-block;
    width: auto;
    font-family: $header-font;
    font-size: 2.8em;
    color: #fff;
    letter-spacing: 0.05em;
    font-weight: 500;

    &:hover {
      border: none;
    }
  }

  // hide hamburger icon for larger screen widths
  button.burger {
    display: none;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;

    &.open {
      position: relative;
      display: inline-block;
      background-image: url("../../public/assets/png/x.png");
      background-position: center;
      width: 19px;
      height: 18px;
    }
  }

  @include responsive(medium-screens) {
    button.burger {
      display: inline-block;
      position: fixed;
      right: 2em;
      background-image: url("../../public/assets/png/hamburger-sm.png");
      width: 30px;
      height: 18px;
    }
  }

  // nav link styles
  a {
    position: relative;
    top: 0;
    margin: 0;
    padding-bottom: 3px;
    font-weight: normal;
    font-size: 2.2em;
    text-align: center;
    background-color: #4a4a4a;
    color: #fff;

    &.active {
      top: -4px;
      background-color: #69c773;
      color: $white;
    }
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin-right: 55px;

      &:last-child {
        margin-right: 30px;
      }

      a {
        text-align: center;
        font-family: $body-font;
        font-weight: 300;

        &.zh {
          font-size: 1.5em;
        }

        &.es {
          font-size: 1.8em;
        }
      }

      a:hover {
        color: $orange;
        border-bottom-width: 2px;
        border-bottom-style: solid;
      }
    }

    &.responsive {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: calc(#{$nav-main-height} - 20px);
      right: 0;

      li {
        // width: 200px;
        display: block;
        margin: 0;

        a {
          display: block;
          padding: 10px 10px 10px 20px;
          border-bottom: none;
          text-align: left;
        }
      }
    }
  }

  @include responsive(medium-screens) {
    ul {
      display: none;
    }
  }

  @include responsive(small-screens) {
    .logo {
      margin-left: 10px;
    }

    a.go-first,
    li a {
      font-size: 1.8em;
    }

    li a {
      padding: 1em;
    }
  }
}
