@use "variables" as *;
@use "mixins" as *;

#left {
  width: 18.75em;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;

  @include responsive(medium-screens) {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  @include responsive(small-screens) {
    // display: none;
    // margin-top:
  }

  @include responsive_mobile_landscape() {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    margin-left: 0;
    margin-top: 25px;
  }
}

#side-nav {
  position: relative;
  width: 200px;
  left: 30px;
  top: 140px;
  font-size: 1.5em;

  h2 {
    font-size: 1.2em;
    text-align: left;
    display: inline;
    padding-bottom: 3px;
    border-bottom: 2px solid $lightgray;
  }

  a {
    text-decoration: none;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin-top: 10px;
    font-family: $body-font;

    ul {
      margin-left: 10px;
    }

    li {
      margin-top: 5px;
    }

    &:first-child {
      margin-top: 15px;
    }

    li:first-child {
      margin-top: 10px;
    }
  }

  @include responsive(medium-screens) {
    width: 60%;
    left: 0;
    top: 20px;
    margin-left: 28%;

    h3 {
      display: block;
      width: 150px;
      margin-left: 0;
    }

    ul {
      display: inline;
    }

    li {
      display: inline-block;
      list-style-type: disc;
      margin-right: 1em;
      margin-left: 0;
      margin-top: 5px;

      &.responsive {
        margin-right: 0;
      }

      & a.responsive-turn-off {
        display: none;
      }

      & a.responsive-turn-off + ul {
        margin-left: 0;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  @include responsive(small-screens) {
    display: none;
  }

  @include responsive_mobile_landscape() {
    display: none;
  }
}
