@use "variables" as *;
@use "mixins" as *;

$sidebar-ideal-width: 250px;

// TODO: use responsive video embeds

body {
  padding: 0 16px;
}

#wrapper {
  // NOTE: flex-wrap usage & flex child properties allows the sidebar & main areas to be side by side and then stack vertically when there is less horizontal space
  // code credit: https://every-layout.dev/layouts/sidebar/
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin-block-start: $nav-main-height;
  // NOTE: container query used for fluid type scale
  container-type: inline-size;
}

aside.info-pages {
  position: sticky;
  top: $nav-main-height;
  flex-basis: $sidebar-ideal-width;
  flex-grow: 1;
  align-self: flex-start;
  // NOTE: so when aside stacks on main, the space between them is reduced (due to large `gap` value in #wrapper)
  margin-block-end: -24px;
  background-color: $white;
  z-index: 90;
}

main {
  flex-grow: 999;
  flex-basis: 0;
  min-inline-size: 70%;
  position: relative;
  padding-block-end: 124px;

  h1,
  h2,
  h3 {
    color: $darkorange;
  }

  li {
    color: $green;
    list-style-position: outside;
  }

  a[name] {
    position: relative;
    display: block;
    top: -40px;
    visibility: hidden;
  }

  a[name="videos"],
  a[name="why"],
  a[name="how"],
  a[name="non-gov"] {
    top: -80px;
  }

  .video {
    max-width: 960px;
    margin-block-end: 48px;
  }
}
