@use "variables" as *;
@use "mixins" as *;

$circle-width: 24px;
$show-min-width: calc($slides-max-width + $circle-width);

div#progress-indicator {
  position: absolute;
  z-index: 100;
  transform: translateY(-50%);
  top: 50%;
  left: $circle-width;

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    width: $circle-width;
    height: $circle-width;
    background-image: url("../../public/assets/png/oval_25_blank.png");
    background-size: $circle-width;
    background-repeat: no-repeat;

    &.active {
      background-image: url("../../public/assets/png/oval_25_filled.png");
    }
  }

  @media only screen and (width <= $show-min-width) {
    display: none;
  }
}
