.tr-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;

  &:target {
    opacity: 1;
    pointer-events: auto;
    outline: none;
    display: block;
    z-index: $z-index-mid;
  }
}

.org-container {
  width: 450px;
  height: 85%;
  top: 60px;
  position: relative;
  margin: 0 auto 0 auto;
  padding: 24px;
  border-radius: 10px;
  background: #fff;
  overflow-y: auto;

  @include responsive(small-screens) {
    width: 300px;
  }

  &:first-child {
    margin-top: 10px;
  }

  h2,
  h3,
  p {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
  }

  h2 {
    margin-bottom: 10px;
    font-size: 2em;
    line-height: 1.2em;
  }

  h3 {
    font-style: normal;
    font-size: 1.8em;
    line-height: 1.3em;
  }

  p {
    width: 100%;
    font-size: 1.5em;
    line-height: 1.3em;
    padding-right: 10px;
    margin-top: 3px;

    span {
      font-weight: bold;
    }
  }
}

.close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 12px;
  top: 12px;
  display: inline-block;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 24px;
  background: $darkorange;
  color: #fff;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: $orange;
}

.tr-org-info {
  margin-top: 24px;
  overflow: hidden;

  &:last-of-type {
    margin-bottom: 48px;
  }
}
