// typography
// TODO: change these to rem (requires updating html & body tags' font-size)
$font-size-header: 5.4em; // 54px;
$font-size-subhead: 2.8em; // 28px; // (h2's)
$font-size-pg: 2.2em; // 22px;
$font-size-btn-slide-nav: 3.5em; // 35px;
$font-size-btn-translation: 1.8em; // 18px;
$font-size-btn-nav-side-title: 18px; // also info pages paragraphs & list item text
$font-size-nav-side-link: 1.5em; // 15px;

// pallette
$gray: #4a4a4a;
$medgray: #9b9b9b;
$lightgray: #ababab;
$green: #417505;
$orange: #ffc462;
$darkorange: darken($orange, 20%); //#CE912D;
// links
$darkteal: #277159;
$bluegreen: #4cb9bb;
$bluegray: #427c97;

$purple: #7a5de8;
$lightblue: #9cddf0;
$blue: #45acff;
$valError: #ee0a0a; //#d98c8c;
$white: #fff;

// fonts
$header-font: "museo-sans-rounded", "Arial Rounded MT Bold", "Helvetica Rounded",
  arial, sans-serif;
$body-font: "Oxygen", arial, "Helvetica Neue", helvetica, sans-serif;

// shared component dimensions
$nav-main-height: 60px;

// media query breakpoints
$width-sm: 460px;
$width-sm2: 768px; // should be 800 or 768 for tablet
$width-md: 980px;
$width-lg: 1100px; // not-used

$height-sm: 480px;
$height-md: 770px;
$height-lg: 900px; // not-used
