<div class="atc-container flex flex-justify-center">
  <div title="Add to Calendar" class="addeventatc">
    Add to Calendar
    <span class="start"></span>
    <span class="end"></span>
    <span class="timezone">America/New_York</span>
    <span class="title">Rent History</span>
    <span class="description">Check your mail for your rent history!</span>
    <span class="location">Your apartment</span>
  </div>
</div>