@use "../abstracts/variables" as *;

// CSS reset
// some rules borrowed from:
// - Andy Bell: https://piccalil.li/blog/a-more-modern-css-reset/
// - Josh W Comeau: https://www.joshwcomeau.com/css/custom-css-reset/#five-improve-text-rendering-6
// - Mayank: https://mayank.co/blog/css-reset-layer/

// NOTE: using CSS layer here ensures that the rules have the lowest specificity so that they're easily overridable
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  // Prevent font size inflation
  html {
    text-size-adjust: none;
  }

  body {
    // disable subpixel antialiasing
    // see: https://www.joshwcomeau.com/css/custom-css-reset/#five-improve-text-rendering-6
    -webkit-font-smoothing: antialiased;

    // Set core body defaults
    min-height: 100vh;
    min-height: -webkit-fill-available;
    line-height: $normal-text-line-height;
  }

  // Remove default margin in favour of better control in authored CSS
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-inline: 0;
    margin-block: 0;
  }

  // Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  // Set shorter line heights on headings and interactive elements
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: $heading-text-line-height;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    overflow-wrap: break-word;
  }

  // Balance text wrapping on headings
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  // A elements that don't have a class get default styles
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentcolor;
  }

  // Make media easier to work with
  img,
  svg,
  video,
  picture {
    max-width: 100%;
    display: block;
  }

  // Inherit font properties for inputs and buttons
  input,
  button,
  textarea,
  select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
  }

  // Anything that has been anchored to should have extra scroll margin
  :target {
    scroll-margin-block: 5ex;
  }
}
