{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "extends": ["eslint:recommended", "plugin:jest/recommended", "plugin:jest/style"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "gtag": "readonly"
  },
  "plugins": ["babel", "json", "jest"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": 1,
    "font-family-no-missing-generic-family-keyword": 0,
    "jest/no-conditional-expect": "warn",
    "jest/no-try-expect": "warn"
  }
}
