{{! LanguageToggle partial }}
<div class="lang-toggle">
  <ul>
    <li><button class="toggle-es" href="#">en español</button></li>
    <li>
      <p>•</p>
    </li>
    <li><button class="toggle-zh" href="#">中文</button></li>
  </ul>
</div>