{{! LanguageToggle partial }}
<div class="lang-toggle">
  <ul>
    <li><a class="toggle-es" href="#">en español</a></li>
    <li>
      <p>•</p>
    </li>
    <li><a class="toggle-zh" href="#">中文</a></li>
  </ul>
</div>