{{!-- template for the ModalDialog component. Only meant to be a shell, content must be provided separately --}}
<dialog class="modal {{className}}">
  <div class="modal--body">
    <button class="button modal--close" aria-label="close">
      <svg
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke-width="4"
        stroke-linecap="round"
        aria-hidden="true"
      >
        <line x1="2" y1="2" x2="22" y2="22" stroke="currentColor" />
        <line x1="2" y1="22" x2="22" y2="2" stroke="currentColor" />
      </svg>
    </button>
    <div class="modal--content">
      {{> @partial-block }}
    </div>
  </div>
</dialog>
