{{! Navigation partial for index.html page }}
<nav class="main-nav">
  <img class="logo" src="assets/png/logo.png">
  <h1>
    <a class="go-first" href="./index.html">{{nav_main.title}}</a>
  </h1>
  <div class="burger" alt="-"></div>
  <ul>
    <li class="nav"><a href="info/why.html">{{nav_main.why}}</a></li>
    <li class="nav"><a href="info/how.html">{{nav_main.how}}</a></li>
    <li class="nav"><a href="info/resources.html">{{nav_main.resources}}</a></li>
  </ul>
</nav>
