<div id="map">
    <svg viewBox="0 0 544 294" role="img" aria-labelledby="map-title map-desc">
        <title id="map-title">Map of New York City</title>
        <desc id="map-desc">Geographic map showing NYC properties that may be rent stabilized.</desc>
        <g class="tiles-base-map"></g>
        <g class="tiles-rent-stabilized"></g>
        <symbol class="result-location"></symbol>
    </svg>
    <div class="map-pop-up"></div>
</div>