<ul class="search-validation-errors">
    <li id="error-not-found" class="val-err hidden">{{slide02.form.val_errors.not_found}}</li>
    <li id="error-address" class="val-err hidden">{{slide02.form.val_errors.address}}</li>
    <li id="error-generic" class="val-err hidden">{{slide02.form.val_errors.generic}}</li>
</ul>