<html lang="{{language}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link
      href="//fonts.googleapis.com/css?family=Oxygen:400,700,300"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="shortcut icon" href="assets/favicon/favicon.png" />
    <script src="//use.typekit.net/emf7xrp.js"></script>
    <script>
      try { Typekit.load(); } catch (e) {}
    </script>
    <script
      type="text/javascript"
      src="//addevent.com/libs/atc/1.6.1/atc.min.js"
      async
      defer
    ></script>
  </head>
  <body>

    {{{content}}}

    <script
      src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-551311020cabbff0"
      async="async"
    ></script>
  </body>
</html>